
$egg-white: #ecece7;
$main-blue: #366774;
$main-orange: #e96151;
$dark-blue: #0f3d48;

@mixin corners($topLeft : 5px, $topRight : 5px, $bottomRight : 5px, $bottomLeft : 5px) {
    -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}
@mixin shadow($drop : 0px, $blur : 1px, $spread : 0px, $color : #000000) {
    -webkit-box-shadow:  0px $drop $blur $spread $color;
    box-shadow:  0px $drop $blur $spread $color;
}
@mixin borders($top : #000, $right : #000, $left : #000) {
    border-top: solid 1px $top;
    border-right: solid 1px $right;
    border-left: solid 1px $left;
}
@mixin textshadow($drop : 2px, $blur : 1px, $color : #1f3a42){
    text-shadow: 0px $drop $blur $color;
    filter: dropshadow(color=#000, offx=0, offy=1);
}
@mixin button() {
    font-family: "Helvetica Neue";
    color: $egg-white;
    display: inline;
    padding: 10px;
    background: $main-orange;
    font-size: .9em;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    cursor:pointer;
    border: none;
    margin: 0;
    //@include textshadow(1px, 0px, #a04338);
    @include corners;
    @include borders(#f5bab3, #ed7f72, #ed7f72);
    @include shadow(1px, 0px, 0px, #14262b);
    &:hover { background-color:#ff6a59; }
}
@mixin input(){
    color: $main-blue;
    width: 270px;
    height: 35px;
    font-size: 1.2em;
    background-color: #dcdcd7;
    padding: 0;
    border: none;
    background-image:url("../imgs/icon-search.png");
    background-repeat: no-repeat;
    background-position: 235px 1px;
    @include corners;
    @include shadow(1px, 2px, #f7f7f4);
    @include borders(#898986, #c0c0bc, #c0c0bc);
}
@mixin transition($speed : 3s){
    transition: width $speed;
    -webkit-transition: $speed; /* Safari */
}
/* ----------------- */
/* --- CSS RESET --- */
/* ----------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}
/* ----------------- */
/* --- END RESET --- */
/* ----------------- */

html {
    width: 100%;
    letter-spacing: 1px;
    height: 100%;
    background-image: url("../imgs/bg-blue.jpg");
    overflow-x: hidden;
}
body {
    min-height: 100%;
    overflow-x: hidden;
}
h1{
    font-family: "Helvetica Neue";
    color: $egg-white;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 1px;
    font-weight: 400;
}
h2{
    font-family: "Helvetica Neue";
    color: $egg-white;
    font-size: .9em;
    font-weight: 200;  
    letter-spacing: 1px;
}
h3{
    font-family: "Helvetica Neue";
    color: $main-orange;
    font-size: 1.2em;
    font-weight: 400;  
    letter-spacing: 1px;
}
a {
    display: block;
    font-family: "Helvetica Neue";
    font-size: 1em;
    color: inherit;
    text-decoration: none;
}
strong {
    font-weight: bold;
}
.left {
    width: 200px;
    float: left;
}
.right {
    width: 200px;
    float: right;
}
.forth {
    margin: 0;
}
.last{
    border-right: none !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.selected{
    color: $main-orange !important;
}
button{
    @include button;
}
.button a{
    @include button;
}
/* ----------------- */
/* - HEADER STYLES - */
/* ----------------- */
header {
    height: 105px;
    width: 100%;
    line-height: 60px;
    background-color: $egg-white;
    position: relative;
    @include shadow(1px, 2px, #15272c);
}
#logo{
    width: 66px;
    height: 43px;
    position: absolute;
    left: 40%;
    top: 5px;
}
nav {
    clear: both;
    width: 100%;
    height: 60px;
}
.sizer {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#login a, #logout a{
    @include button;
    float: left;
    height: 20px;
    margin: 10px;
    line-height: 20px;
}
header img {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}
#navigation{
    clear: both;
    height: 50px;
    width: 100%;
    background-color: $dark-blue;
    margin: 0;
}
#navigation li{
    width: 24.5%;
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 0px;
    color: $main-orange;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    border-right: solid 1px $main-blue;
    line-height: 30px;
    &:hover{ color: $main-orange; }
}
#navigation li:last-child{
    border: none;
}
nav input {
    float: left;
    margin-left: 30px;
    margin-top: 12px;
    @include input;
}
.active>a {
    color: $egg-white;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    &:hover{ background: none; }
}
.login{
    margin-left: 10px;
    margin-top: -5px;
    float: left;
}
#research{
    @include button;
    height: 20px;
    width: 50px; 
    line-height: 25px; 
    color: $egg-white;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    text-indent: -9999px;
    background-image: url("../imgs/icon-search-white.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: none;
    float: right;
}
/* ----------------- */
/* - DECKS  STYLES - */
/* ----------------- */
#content {
    border-top: solid 1px #254750;
    width: 100%;
    overflow: auto;
    height: inherit;
    @media screen and (max-width: 658px) {
        width: 464px;
        margin: 0 auto;
    }
    @media screen and (max-width: 460px) {
        width: 312px;
    }
}
#content.userPage{
    @media screen and (max-width: 658px) {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
}
#topDeck {
    width:456px;
    height: 291px;
    background-image: url("../imgs/mobile/card-front.png");
    background-repeat: no-repeat;
    margin-top: 30px;
    float: left;
    margin-bottom: 10px;
    margin-left: 4px;
    @media screen and (max-width: 460px) {
        margin-left: 1px;
        width: 310px;
        height: 199px;
        background-image: url("../imgs/mobile/card-front-smaller.png");
    }
}
#topDeck .username {
    font-family: "Helvetica Neue";
    color: $main-blue;
    padding-top: 15px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    @media screen and (max-width: 460px) {
        font-size: 1em;
        padding-top: 10px;
    }
}
#topDeck .votes {
    font-family: "Helvetica Neue";
    color: $main-blue;
    padding-top: 15px;
    margin-right: 10px;
    padding-left: 30px;
    font-size: 1.2em;
    float: right;   
    background-image: url("../imgs/icon-check.png");
    background-repeat: no-repeat;
    background-position: 0px 10px;
    @media screen and (max-width: 460px) {
        background-position: 7px 5px;
        font-size: 1em;
        padding-top: 10px;
    }
}
#topDeck .deckname {
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: 1.5em;
    font-weight: bold;
    clear: both;
    width: 90%;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    line-height: 230px;
    @media screen and (max-width: 460px) {
        font-size: 1.3em;
        margin-top: 77px;
        line-height: 20px;
    }
}
#topTags, #topUsers {
    width: 220px;
    height: 300px;
    float: left;
    margin-top: 40px;
    margin-left: 16px;
    overflow: auto;
    display: none;
}
#topTags li, #topUsers li {
    clear: both;
    margin-bottom: 10px;
}
#topTags>h1, #topUsers>h1 {
    margin-bottom: 20px;
    font-family: "Helvetica Neue";
    color: $egg-white;
    font-size: 1.7em;
    font-weight: bold;
}
#topTags ul h1, #deckTags ul h1 {
    display: inline;
    font-family: "Helvetica Neue"; 
    float: left;
    margin-right: 5px;
    font-size: .9em;
    cursor:pointer;
    @include button;
    padding: 7px 10px;
}
#topTags h2, #topUsers h2 {
    line-height: 30px;
    font-family: "Helvetica Neue";
    font-size: .9em;
    font-weight: 400;
    color: $egg-white;
    text-indent: 5px;
}
.badge{
    clear: both;
    width: 36px;
    height: 36px;
    background-image: url("../imgs/badgeExample.png");
    float: left;
}
#decks {
    clear: both;
}
#decks.userDecksPage{
    clear: left;
    width: 462px;
    margin: 0 auto;
    @media screen and (max-width: 460px) {
        width: 306px;
        margin: 0 auto;
        overflow: hidden;
    }
}
#decks .deck {
    width: 225px;
    height: 148px;
    background-image: url("../imgs/mobile/card-small.png");
    float: left;
    margin-right: 6px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 460px) {
        width: 150px;
        height: 97px;
        background-image: url("../imgs/mobile/card-smaller.png");
    }
}
#decks.userDecksPage .deck:nth-child(even){
    @media screen and (max-width: 460px) {
        margin-right: 0px;
    }
}
#decks .username {
    font-family: "Helvetica Neue";
    color: $main-blue;
    padding-top: 10px;
    margin-left: 10px;
    font-size: .9em;
    float: left;
    @media screen and (max-width: 460px) {
        font-size: .7em;
        padding-top: 5px;
    }
}
#decks .votes {
    font-family: "Helvetica Neue";
    color: $main-blue;
    padding-top: 10px;
    margin-right: 10px;
    padding-left: 23px;
    font-size: .9em;
    float: right;   
    background-image: url("../imgs/icon-check.png");
    background-repeat: no-repeat;
    background-position: 0px 5px;
    font-weight: 900;
    @media screen and (max-width: 460px) {
        font-size: .7em;
        padding-top: 3px;
        background-position: 9px 3px;
        background-image: url("../imgs/icon-check-smaller.png");
    }
}
#decks .deckname {
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: 1em;
    font-weight: bold;
    clear: both;
    width: 90%;
    max-height: 70px;
    margin: 0 auto;
    text-align: center;
    margin-top: 71px;
    line-height: 15px;
    word-wrap:break-word;
    @media screen and (max-width: 460px) {
        font-size: .9em;
        margin-top: 31px;
        line-height: 20px;
    }
}
div.private{
    width: 37px;
    height: 18px;
    background-image: url("../imgs/icon-private.png");
    float: right;
    margin: 8px 8px 0px 0px;
    @media screen and (max-width: 460px) {
        margin: 2px 2px 0px 0px;
    }
}
div.options{
    width: 220px;
    height: 25px;
    margin-left: 4px;
    background-color: $main-orange;
    position: absolute;
    bottom: 0px;
    background-image: url("../imgs/icon-settings.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    &:hover { background-color:#ff6a59; }
    @include transition(.3s);
    @include corners(0px, 0px, 5px, 5px);
    @media screen and (max-width: 460px) {
        width: 148px;
        margin-left: 1px;
    }
}
div.options.open{
    height: 122px;
    background-position: top;
    @media screen and (max-width: 460px) {
        height: 80px;
    }
}
.options ul{
    margin-top: 25px;
    border-top: 1px solid $egg-white;
}
.options li{
    height: 32px;
    padding-left: 5px;
    margin-bottom: 1px;
    background-color: $egg-white;
    font-family: "Helvetica Neue";
    color: $main-orange;
    font-size: .9em;
    font-weight: 400;  
    letter-spacing: 1px;
    line-height: 32px;
    &:hover { background-color:#ff6a59; color: $egg-white; }
    @media screen and (max-width: 460px) {
        height: 17px;
        line-height: 17px;
        font-size: .7em;
    }
}
.options li:last-child{
    @include corners(0px, 0px, 5px, 5px);
}
/* ----------------- */
/* - Modal  STYLES - */
/* ----------------- */
#editModal, #privacyModal, #deleteModal{
    position: fixed;
    left: 50%;
    top: 0%;
    height: 180px;
    width: 400px;
    background-color: $egg-white;
    z-index: 2;
    text-align: center;
    margin-left: -200px;
    margin-top: -200px;
    @include corners();
    @include shadow(0px, 2px, 2px, $main-orange);
    @include transition(1s);
}
#editModal h1, #privacyModal h1, #deleteModal h1{
    color: $main-blue;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    @include textshadow(1px, 1px, #fff);
}
#editModal input{
    @include input;
    background-image: none;
    margin-top: 20px;
}
#editModal button, #privacyModal button, #deleteModal button{
    width: 150px;
    margin-top: 20px;
}
#editModal button:first-child, #privacyModal button:first-child, #deleteModal button:first-child{
    width: 25px;
    height: 25px;
    position: absolute;
    top: -33px;
    right: 9px;
    font-size: .8em;
    padding: 0;
    border: none;
    -webkit-box-shadow:  none;
    box-shadow:  none;
    @include corners(25px, 25px, 25px, 25px);
}
.shade{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    display: none;
}
/* ----------------- */
/* - Login  STYLES - */
/* ----------------- */
#welcome{
    display: block;
    width: 314px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#forms{
    width: 600px;
    height: 330px;
    background-color: $egg-white;
    margin: 0 auto;
    position: relative;
    @include corners;
    @include shadow(0px, 3px, 0px, #1b343b);
}
#loginForm{
    width: 220px;
    margin-left: 52px;
    height: 100%;
    float: left;
    margin-top: 25px;
}
#forms h1{
    color: $main-blue;
    margin-bottom: 10px;
}
#forms p{
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: .9em;
    font-weight: bold;
}
#forms a{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    height: 20px;
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: .7em;
    font-weight: bold;
    text-decoration: underline;
}
#forms input{
    @include input;
    width: 206px;
    height: 30px;
    margin-bottom: 10px;
}
.divider{
    background-image: url("../imgs/form-line.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 297px;
    float: left;
    margin-left: 10px;
}
#registerForm{
    width: 220px;
    margin-right: 42px;
    height: 100%;
    float: right;
    padding-top: 25px;
}
.regLeft{
    float: left;
}
.regRight{
    float: right;
}
#facebook{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
#forms button{
    width: 208px;
}
.error{
    text-align: left;
    color: #e96151;
    font-size: .8em;
    font-family: "Helvetica Neue";
}
.regError{
    text-align: left;
    color: #e96151;
    font-size: .8em;
    font-family: "Helvetica Neue";
}
/* ----------------- */
/* -Profile STYLES - */
/* ----------------- */
#info{
    border-top: solid 1px #254750;
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
    @media screen and (max-width: 742px) {
        width: 462px;
        margin: 0 auto;
        padding-left: 7px;
    }
    @media screen and (max-width: 460px) {
        padding-left: 0px;
        width: 303px;
        margin: 0 auto;
    }
}
#info a{
    display: inline;
}
#picture{
    width: 150px;
    float: left;
    margin-right: 10px;
}
#picture img{
    width: 140px;
    height: 140px;
    background-color: black;
    border: solid 5px $dark-blue;
    margin-bottom: 5px;
}
#picture .button a{
    width: 128px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    float: left;
    margin-bottom: 10px; 
    @media screen and (max-width: 460px) {
        margin-left: 0px;
        width: 281px;
    }
}
#profileInfo{
    float: left;
    width: 200px;
    @media screen and (max-width: 460px) {
        width: 140px;
    }
}
#profileInfo h1{
    @include textshadow;
    @media screen and (max-width: 460px) {
        font-size: 1.2em;
    }
}
#profileInfo h2{
    margin-top: 3px;
    @media screen and (max-width: 460px) {
        font-size: .8em;
    }
}
#profileInfo h3{
    margin-top: 3px;
    @media screen and (max-width: 460px) {
        font-size: .9em;
    }
}
.profileLinks{
    width: 200px;
    font-size: .8em;
    color: $main-orange;
    margin-top: 15px;
    font-weight: 200;
    letter-spacing: .9px;
}
.profileLinks li{
    width: 47px;
    margin: 0 auto;
    float: left;
    margin-left: 2px;
    padding: 0 3px;
    border-right: solid 1px $dark-blue;
    &:hover { text-decoration:underline; }
}
#quickInfo{
    width: 498px;
    height: 78px;
    background-color: $main-blue;
    border: solid 1px $dark-blue;
    float: right;
    text-align: center;
    @include corners;
}
#quickInfo li{
    width: 98px;
    height: 78px;
    float: left;
    border-right: solid 1px $dark-blue;
}
#quickInfo h1{
    margin-top: 15px;
    @include textshadow;
}
#quickInfo h2{
    font-size: .7em;
    font-weight: 900;  
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    @include textshadow;
}
#bgroup{
    float: right; 
    margin-top: 20px;
}
#bgroup .button a:first-child{
    width: 110px;
    height: 40px;
}
#bgroup .button a:last-child{
    width: 150px;
    height: 40px;
}
#bgroup span{
    font-weight: bold;
}
#activity{
    clear: both;
    background-color: $egg-white;
    margin-top: 30px;
}
.dbbg{
    background-color: $dark-blue;
    width: 100%;
    height: 35px;
    @include borders(#09262d, none, none);
    @include shadow(2px, 0, 0, #bbd1d3);
    line-height: 35px;
}
.dbbg h1{
    font-size: .9em;
    text-transform: uppercase;
    @include textshadow;
}
#activity li{
    height: 70px;
    border-bottom: solid 1px #b2c4c5;
}
#activity img{
    background-color: black;
    float: left;
    margin-top: 10px;
}
#activity p{
    width: 850px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: 1em;
    font-weight: 500;  
    letter-spacing: 1px;
    display: block;
}
#activity .date{
    font-size: .8em;  
    margin-top: 3px; 
}
/* ----------------- */
/* - USERS  STYLES - */
/* ----------------- */
#filters{
    background-color: $dark-blue;
    height: 100px;
    @include shadow(1px, 2px, 0px, #43717d);
    @media screen and (max-width: 658px) {
        padding: 0 10px;
    }
    @media screen and (max-width: 580px) {
        height: 180px;
    }
}
.usearch{
    width: 50%;
    height: 80px;;
    float: left;
    @media screen and (max-width: 580px) {
        width: 96%;
        margin: 0 2%;
    }
}
.usearch h1{
    font-size: .9em;
    margin-top: 20px;
    margin-bottom: 10px;
}
.usearch input{
    @include input;
    @media screen and (max-width: 580px) {
        width: 98%;
        background-position: right center;
        padding-right: 2%;
    }
}
.sortby{
    width: 280px;
    float: right;
    @media screen and (max-width: 580px) {
        width: 96%;
        margin: 0 2%;
    }
}
.sortby h1{
    font-size: .9em;
    margin-top: 20px;
    margin-bottom: 10px;
}
.sortby ul{
    @include input;
    background-image: none;
    width: 280px;
    @media screen and (max-width: 580px) {
        width: 98%;
        background-position: right center;
        padding-right: 2%;
    }
}
.sortby li{
    font-family: "Helvetica Neue";
    float: left;
    color: $main-blue;
    font-weight: bold;
    font-size: 14px;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    text-align: center;
    border-right: solid 1px $main-blue;
    &:hover{ color: $main-orange; }
}
#users{
    margin-top: 20px;
    width: 96%;
    padding: 0 2%;
}
#users li{
    width: 45%;
    height: 80px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
    @media screen and (max-width: 580px) {
        @include button();
        width: 46%;
        height: 45px;
        margin-bottom: 15px;
        padding: 4px;
    }
}
#users li:nth-child(even){
    float: right;
}
#users img{
    float: left;
    border: solid 2px $main-blue;
    @media screen and (max-width: 580px) {
        border: solid 2px #ff6a59;
        width: 40px;
        height: 40px;
    }
}
#users h1{
    margin-left: 80px;
    width: inhert;
    font-size: 1em;
    border-bottom: solid 1px $main-blue;
    text-align: left;
    @media screen and (max-width: 580px) {
        border-bottom: solid 1px #ff6a59;
        font-weight: 800;
        font-size: 1em;
        margin-left: 45px;
    }
}
#users h3{
    font-size: .8em;
    margin-left: 80px;
    margin-top: 2px;
    @media screen and (max-width: 580px) {
        color: $egg-white;
        text-align: left;
        margin-left: 45px;
    }
}
#users .button{
    float: right;
    font-size: .8em;
    @media screen and (max-width: 580px) {
        float: left;
        margin-top: 35px;
        margin-left: 35px;
        display: none;
    }
}
#users .button a{
    @media screen and (max-width: 580px) {
        border: none;
        -webkit-box-shadow:  none;
        box-shadow:  none;
    }
}
.userButton{
    display: block;
    overflow: auto;
}
#users .sizer .flHeader{
    border: none;
    margin: 0px;
    margin-bottom: 30px;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 1px;
    font-weight: 400;
}
#users .space{
    float: left;
    width: 60%;
    height: 20px;
}
/* ----------------- */
/* -ADD DECK STYLES- */
/* ----------------- */
#newDeck{
    width: 660px;
    height: 500px;
    background-color: #ecece7;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    -webkit-box-shadow:  0px 0px 3px 0px #1b343b;
    box-shadow:  0px 0px 3px 0px #1b343b;
    padding: 20px;
    margin-top: 20px;
}
.newDeckTitle{
    text-align: center;
    margin-top: 20px;
}
#deckForm{
    width: 275px;
    height: 100%;
    float: left;
    padding-left: 15px;
    position: relative;
}
#deckForm .error{
    width: 190px;
    top: 192px;
    left: 65px;
}
#deckForm .titleError{
    color: #e96151;
    font-size: .8em;
    font-family: "Helvetica Neue";
    position: absolute;
    width: 300px;
    top: 5px;   
    left: 115px;
}
#deckForm p{
    font-family: "Helvetica Neue";
    color: #366774;
    font-size: 1.1em;
    font-weight: bold;
}
#deckForm label{
    font-family: "Helvetica Neue";
    color: #366774;
    font-size: .7em;
    font-weight: bold;
}
#deckForm input:not([type="radio"]){
    width: 250px;
    height: 30px;
    font-family: "Helvetica Neue";
    font-size: .9em;
    color: #366774;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    -webkit-box-shadow: inset 0px 1px 2px 0px #707070;
    box-shadow: inset 0px 1px 2px 0px #707070;
    margin-bottom: 30px;
    padding-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
}
#public{
    margin-top: 10px;
    margin-bottom: 5px;
}
#private{
    margin-bottom: 30px;
}
#tagArea{
    margin-top: 5px;
    width: 255px;
    height: 110px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px #707070;
    box-shadow: 0px 0px 3px 0px #707070;
    overflow: auto;
}
#deckForm button{
    font-size: 1.3em;
    width: 255px;
}
#deckForm .cancel{
    font-size: .7em;
    text-decoration: underline;
    margin-left: 100px;
    margin-top: 5px;
}
#newDeck section{
    width: 330px;
    height: 100%;
    float: right;
    padding-left: 40px;
    background-image: url("../imgs/form-line2.png");
    background-repeat: no-repeat;
}
#newDeck section h1{
    font-family: "Helvetica Neue";
    color: #366774;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}
#newDeck section p{
    font-family: "Helvetica Neue";
    color: #366774;
    font-size: 1em;
    margin-bottom: 40px;
    line-height: 20px;
    font-weight: lighter;
}
#tagArea h1{
    color: #ecece7;
    display: inline;
    font-family: "Helvetica Neue";
    padding: 5px;
    padding-left: 10px;
    padding-right: 5px;
    background: #ffb4a4; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb4a4 0%, #e96151 44%, #e96151 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb4a4), color-stop(44%,#e96151), color-stop(100%,#e96151)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb4a4', endColorstr='#e96151',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 2px 0px #13252a;
    box-shadow:  0px 1px 2px 0px #13252a;
    border-top: solid 1px #f5bab3;
    float: left;
    margin: 2px;
    font-size: .8em;
    border-left: solid 1px #ed7f72;
    border-right: solid 1px #ed7f72;
    cursor:pointer; 
}
.del{
    width: 14px;
    height: 13px;
    background-image: url("../imgs/icon-del.png");
    background-repeat: no-repeat;
    display: block;
    float: right;
    margin-left: 7px;
    margin-top: 2px;
}
.del:hover{
    background-image: url("../imgs/icon-del-hover.png");
    background-repeat: no-repeat;
}
/* ----------------- */
/* - Cards  STYLES - */
/* ----------------- */
#deckInfo{
    float: left;
    max-width: 500px;
    color: #ecece7;
    font-family: "Helvetica Neue";
    font-size: .8em;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bold;
}

#deckInfo h2{
    color: #e96151;
}
#cards{
    width: 940px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
.aCard{
    width:449px;
    height: 289px;
    background-image: url("../imgs/card-front.png");
    background-repeat: no-repeat;
    margin-top: 40px;
    float: left;
    position: relative;
}

#cards .aCard h1{
    font-family: "Helvetica Neue";
    color: #366774;
    font-size: 1.5em;
    font-weight: bold;
    clear: both;
    width: 90%;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    margin-top: 110px;
    line-height: 30px;
}
.activeCard{
    z-index: 2;
    position: absolute;
    left: 249px;
    top: 10px;
    background-image: url("../imgs/card-front-active.png");

}
.activeCardBack{
    z-index: 2;
    position: absolute;
    left: 249px;
    top: 10px;
    background-image: url("../imgs/card-back-active.png");
}
.leftCard{
    float: left;
    background-image: url("../imgs/card-front-blur.png");
}
#cards .leftCard h1, #cards .rightCard h1{
    color: transparent;
    text-shadow: #366774 0 0 3px;
}
.rightCard{
    float: right;
    background-image: url("../imgs/card-front-blur.png");
}
.hideCard{
    display: none;
}
#prog{
    width: 940px;
    height: 30px;
    background-color: #0f3d48;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 2px 0px #6b8e98;
    box-shadow:  0px 1px 2px 0px #6b8e98;
    border-top: solid 1px #13252a;
}
#p{
    width: 0%;
    height: 100%;
    background-color: #e96151;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
#p.pFull{
    height: 100%;
    background-color: #e96151;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
#progNum{
    clear: both;
    text-align: center;
    font-family: "Helvetica Neue";
    color: #e96151;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}
#cardT{
    width: 450px;
    height: 55px;
    margin: 0 auto;
    position: relative;
}
#cardTools{
    width: 210px;
    height: 50px;
    background-color: #0f3d48;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 2px 0px #6b8e98;
    box-shadow:  0px 1px 2px 0px #6b8e98;
    border-top: solid 1px #13252a;
    font-family: "Helvetica Neue";
    color: #ecece7;
    font-size: .8em;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
}
#toolButtons{
    width: 200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 8px;
}
#leftArrow{
    width: 32px;
    height: 32px;
    background-image: url("../imgs/icon-left.png");
    margin-right: 3px;
    position: absolute;
}
#toolButtons button{
    float: left;
    margin-left: 40px;
    width: 120px;
    height: 30px;
    padding: 0px;
}
#rightArrow{
    width: 32px;
    height: 32px;
    background-image: url("../imgs/icon-right.png");
    position: absolute;
    left: 172px;
}
#randomize{
    float: left;
    margin-top: 16px;
    margin-left: 40px;
}
#cardTools label{
    float: left;
    margin-top: 15px;
}
#editButton{
    padding: 5px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}
#deleteButton{
    padding: 5px;
    margin-top: 10px;
    float: left;
}
#randomButton{
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.aCard textarea{
    width: 300px;
    height: 120px;
    font-family: "Helvetica Neue";
    font-size: 1.1em;
    color: #366774;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    -webkit-box-shadow: inset 0px 1px 2px 0px #707070;
    box-shadow: inset 0px 1px 2px 0px #707070;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-right: 10px;
    margin-top: 70px;
    margin-left: 70px;
    resize: none;
}
.answer{
    display: none;
}
#voting{
    width: 134px;
    height: 75px;
    float: right;
}
#aPlus{
    width: 67px;
    height: 60px;
    background-image: url("../imgs/icon-a.png");
    float: left;
    margin-top: 10px;
}
#aMinus{
    width: 67px;
    height: 60px;
    background-image: url("../imgs/icon-a.png");
    float: right;
    margin-top: 10px;
}
#aMinus:hover, #aPlus:hover{
    background-image: url("../imgs/icon-a-hover.png");
    cursor: pointer;
}
#aPlus h1, #aMinus h1{
    color: #e96151;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 18px;
    margin-top: 15px;
}
#voting .selectedGrade{
    background-image: url("../imgs/icon-a-active.png");
}
#voting .selectedGrade h1{
    color: #ecece7;
}
.cardedit{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    margin-top: 110px;
    text-align: center;
    font-family: "Helvetica Neue";
    color: #366774;
    font-size: 1.5em;
}
.editHint{
    text-align: center;
    font-family: "Helvetica Neue";
    color: #366774;
    font-size: .8em;
    margin-top: 5px;
}






