html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section a {
  display: block; }

a {
  font-family: "Helvetica Neue";
  font-size: 1em;
  width: 100% !important;
  height: 100% !important; }

html {
  width: 100%;
  letter-spacing: 1px;
  height: 100%;
  background-image: url("../imgs/bg-blue.jpg");
  -webkit-font-smoothing: antialiased; }

body {
  min-height: 100%; }

input {
  font-family: "Helvetica Neue"; }

strong {
  font-weight: bold; }

header {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #ecece7;
  -webkit-box-shadow: 0px 1px 2px 0px #15272c;
  box-shadow: 0px 1px 2px 0px #15272c; }

.sizer {
  width: 940px;
  margin: 0 auto;
  position: relative; }

header img {
  float: left;
  margin-right: 10px;
  margin-top: 4px; }

#navigation li, #tools li {
  float: left;
  margin-left: 20px;
  color: #366774; }
