/* ----------------- */
/* --- CSS RESET --- */
/* ----------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, a {
  display: block; }

/* ----------------- */
/* --- END RESET --- */
/* ----------------- */
a {
  font-family: "Helvetica Neue";
  font-size: 1em;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%; }

input {
  font-family: "Helvetica Neue"; }

strong {
  font-weight: bold; }

html {
  width: 100%;
  letter-spacing: 1px;
  height: 100%;
  background-image: url("../imgs/bg-blue.jpg");
  -webkit-font-smoothing: antialiased; }

body {
  min-height: 100%; }

/* ----------------- */
/* - HEADER STYLES - */
/* ----------------- */
header {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #ecece7;
  -webkit-box-shadow: 0px 1px 2px #15272c black;
  box-shadow: 0px 1px 2px #15272c black; }

#logo {
  width: 66px;
  height: 43px;
  float: left; }

nav {
  height: 60px; }

.sizer {
  width: 940px;
  height: inherit;
  margin: 0 auto;
  position: relative; }

header img {
  float: left;
  margin-right: 10px;
  margin-top: 4px; }

#navigation li, #tools li {
  float: left;
  margin-left: 20px;
  color: #366774;
  font-weight: bold;
  font-size: 14px; }
  #navigation li:hover:not(.active), #tools li:hover:not(.active) {
    text-decoration: underline; }

nav input {
  color: #366774;
  width: 270px;
  height: 35px;
  float: left;
  font-size: 1.2em;
  background-color: #dcdcd7;
  padding: 0;
  border: none;
  margin-left: 30px;
  margin-top: 12px;
  background-image: url("../imgs/icon-search.png");
  background-repeat: no-repeat;
  background-position: 235px 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px #f7f7f4 black;
  box-shadow: 0px 1px 2px #f7f7f4 black;
  border-top: solid 1px #898986;
  border-right: solid 1px #c0c0bc;
  border-left: solid 1px #c0c0bc; }

#navigation .active > a {
  color: #ecece7;
  display: inline;
  padding: 7px;
  background: #e96151;
  font-size: .9em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b; }
  #navigation .active > a:hover {
    background: #ff6a59; }

#tools {
  float: right;
  width: 164px; }

#tools li:first {
  border-left: solid 1px #bbbbb7; }

#tools li {
  float: left;
  width: 80px;
  height: 60px;
  padding: 0;
  background-color: #dcdcd7;
  margin: 0;
  text-align: center; }
  #tools li:hover {
    color: #ecece7;
    background: #e96151; }

#tools a {
  width: 79px;
  height: 100%;
  border-left: solid 1px #bbbbb7;
  border-right: solid 1px #bbbbb7; }

/* ----------------- */
/* - DECKS  STYLES - */
/* ----------------- */
#content {
  border-top: solid 1px #254750;
  width: 100%;
  min-height: 700px; }

#topDeck {
  width: 449px;
  height: 289px;
  background-image: url("../imgs/card-front.png");
  background-repeat: no-repeat;
  margin-top: 40px;
  float: left; }

#topDeck .username {
  font-family: "Helvetica Neue";
  color: #366774;
  padding-top: 15px;
  margin-left: 10px;
  font-size: 1.2em;
  float: left; }

#topDeck .votes {
  font-family: "Helvetica Neue";
  color: #366774;
  padding-top: 15px;
  margin-right: 10px;
  padding-left: 30px;
  font-size: 1.2em;
  float: right;
  background-image: url("../imgs/icon-check.png");
  background-repeat: no-repeat;
  background-position: 0px 10px; }

#topDeck .deckname {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1.5em;
  font-weight: bold;
  clear: both;
  width: 90%;
  height: 220px;
  margin: 0 auto;
  text-align: center;
  line-height: 230px;
  word-wrap: break-word; }

#topTags {
  width: 400px;
  height: 300px;
  float: right;
  margin-top: 40px; }

#topTags li {
  clear: both;
  margin-bottom: 10px; }

#topTags > h1 {
  margin-bottom: 20px;
  font-family: "Helvetica Neue";
  color: #ecece7;
  font-size: 1.7em;
  font-weight: bold;
  margin-left: 100px; }

#topTags ul h1, #deckTags ul h1 {
  display: inline;
  font-family: "Helvetica Neue";
  float: left;
  margin-right: 5px;
  font-size: .9em;
  cursor: pointer;
  color: #ecece7;
  display: inline;
  padding: 7px;
  background: #e96151;
  font-size: .9em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b; }
  #topTags ul h1:hover, #deckTags ul h1:hover {
    background: #ff6a59; }

#topTags p {
  line-height: 30px;
  font-family: "Helvetica Neue";
  font-size: .8em;
  font-weight: bold;
  color: #ecece7; }

.left {
  width: 200px;
  float: left; }

.right {
  width: 200px;
  float: right; }

.forth {
  margin: 0px; }

#decks {
  clear: both; }

#decks .deck {
  width: 229px;
  height: 148px;
  background-image: url("../imgs/card-small.png");
  float: left;
  margin-right: 6px;
  margin-bottom: 6px; }

#decks .deck:hover {
  background-image: url("../imgs/card-small-hover.png"); }

#decks .username {
  font-family: "Helvetica Neue";
  color: #366774;
  padding-top: 10px;
  margin-left: 10px;
  font-size: .9em;
  float: left; }

#decks .votes {
  font-family: "Helvetica Neue";
  color: #366774;
  padding-top: 10px;
  margin-right: 10px;
  padding-left: 23px;
  font-size: .9em;
  float: right;
  background-image: url("../imgs/icon-check-small.png");
  background-repeat: no-repeat;
  background-position: 0px 9px; }

#decks .deckname {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1em;
  font-weight: bold;
  clear: both;
  width: 90%;
  max-height: 70px;
  margin: 0 auto;
  text-align: center;
  margin-top: 71px;
  line-height: 15px;
  word-wrap: break-word; }
