
$egg-white: #ecece7;
$main-blue: #366774;
$main-orange: #e96151;
$dark-blue: #0f3d48;

@mixin corners($radius : 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin shadow($drop : 0px, $blur : 1px, $spread : 0px, $color : #000000) {
    -webkit-box-shadow:  0px $drop $blur $spread $color;
    box-shadow:  0px $drop $blur $spread $color;
}
@mixin borders($top : #000, $right : #000, $left : #000) {
    border-top: solid 1px $top;
    border-right: solid 1px $right;
    border-left: solid 1px $left;
}
@mixin textshadow($drop : 2px, $blur : 1px, $color : #1f3a42){
    text-shadow: 0px $drop $blur $color;
    filter: dropshadow(color=#000, offx=0, offy=1);
}
@mixin button() {
    color: $egg-white;
    display: inline;
    padding: 7px;
    background: $main-orange;
    font-size: .9em;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    @include textshadow(1px, 0px, #a04338);
    @include corners;
    @include borders(#f5bab3, #ed7f72, #ed7f72);
    @include shadow(1px, 0px, 0px, #14262b);
    &:hover { background:#ff6a59; }
}
/* ----------------- */
/* --- CSS RESET --- */
/* ----------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}
/* ----------------- */
/* --- END RESET --- */
/* ----------------- */
html {
    width: 100%;
    letter-spacing: 1px;
    height: 100%;
    background-image: url("../imgs/bg-blue.jpg");
    -webkit-font-smoothing: antialiased;
}
body {
    min-height: 100%;
    overflow: auto;
}
h1{
    font-family: "Helvetica Neue";
    color: $egg-white;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 1px;
}
h2{
    font-family: "Helvetica Neue";
    color: $egg-white;
    font-size: .9em;
    font-weight: 400;  
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}
h3{
    font-family: "Helvetica Neue";
    color: $main-orange;
    font-size: 1.2em;
    font-weight: 900;  
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}
a {
    display: inherit;
    font-family: "Helvetica Neue";
    font-size: 1em;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
input {
    font-family: "Helvetica Neue";
}
strong {
    font-weight: bold;
}
.left {
    width: 200px;
    float: left;
}
.right {
    width: 200px;
    float: right;
}
.forth {
    margin: 0;
}
.last{
    border-right: none !important;
}
button{
    color: $egg-white;
    border: none;
    font-size: .9em;
    cursor:pointer;
    @include button;
}
/* ----------------- */
/* - HEADER STYLES - */
/* ----------------- */
header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: $egg-white;
    @include shadow(1px, 2px, #15272c);
}
#logo{
    width: 66px;
    height: 43px;
    float: left;
}
nav {
    height: 60px;
}
.sizer {
    width: 940px;
    margin: 0 auto;
    position: relative;
}
header img {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}
#navigation li, #tools li {
    float: left;
    margin-left: 20px;
    color: $main-blue;
    font-weight: bold;
    font-size: 14px;
    &:hover:not(.active) { text-decoration:underline; }
}
nav input {
    color: $main-blue;
    width: 270px;
    height: 35px;
    float: left;
    font-size: 1.2em;
    background-color: #dcdcd7;
    padding: 0;
    border: none;
    margin-left: 30px;
    margin-top: 12px;
    background-image:url("../imgs/icon-search.png");
    background-repeat: no-repeat;
    background-position: 235px 1px;
    @include corners;
    @include shadow(1px, 2px, #f7f7f4);
    @include borders(#898986, #c0c0bc, #c0c0bc);
}
#navigation .active>a {
    @include button;
}
#tools {
    float: right;
    width: 164px;
}
#tools li:first {
    border-left: solid 1px #bbbbb7;
}
#tools li {
    float: left;
    width: 80px;
    height: 60px;
    padding: 0;
    background-color: #dcdcd7;
    margin: 0;
    text-align: center;
    &:hover{color: $egg-white; background: $main-orange;}
}
#tools a {
    width: 79px;
    height: 100%;
    border-left: solid 1px #bbbbb7;
    border-right: solid 1px #bbbbb7;
}
/* ----------------- */
/* - DECKS  STYLES - */
/* ----------------- */
#content {
    border-top: solid 1px #254750;
    width: 100%;
    overflow: auto;
    height: inherit;
}
#topDeck {
    width:449px;
    height: 289px;
    background-image: url("../imgs/card-front.png");
    background-repeat: no-repeat;
    margin-top: 40px;
    float: left;
}
#topDeck .username {
    font-family: "Helvetica Neue";
    color: $main-blue;
    padding-top: 15px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
}
#topDeck .votes {
    font-family: "Helvetica Neue";
    color: $main-blue;
    padding-top: 15px;
    margin-right: 10px;
    padding-left: 30px;
    font-size: 1.2em;
    float: right;   
    background-image: url("../imgs/icon-check.png");
    background-repeat: no-repeat;
    background-position: 0px 10px;
}
#topDeck .deckname {
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: 1.5em;
    font-weight: bold;
    clear: both;
    width: 90%;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    line-height: 230px;
    word-wrap:break-word;
}
#topTags {
    width: 400px;
    height: 300px;
    float: right;
    margin-top: 40px;
}
#topTags li {
    clear: both;
    margin-bottom: 10px;
}
#topTags>h1 {
    margin-bottom: 20px;
    font-family: "Helvetica Neue";
    color: $egg-white;
    font-size: 1.7em;
    font-weight: bold;
    margin-left: 100px;
}
#topTags ul h1, #deckTags ul h1 {
    display: inline;
    font-family: "Helvetica Neue"; 
    float: left;
    margin-right: 5px;
    font-size: .9em;
    cursor:pointer;
    @include button;
}
#topTags p {
    line-height: 30px;
    font-family: "Helvetica Neue";
    font-size: .8em;
    font-weight: bold;
    color: $egg-white;
}
#decks {
    clear: both;
}
#decks .deck {
    width: 229px;
    height: 148px;
    background-image: url("../imgs/card-small.png");
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    &:hover { background-image: url("../imgs/card-small-hover.png"); }
}
#decks .username {
    font-family: "Helvetica Neue";
    color: $main-blue;
    padding-top: 10px;
    margin-left: 10px;
    font-size: .9em;
    float: left;
}
#decks .votes {
    font-family: "Helvetica Neue";
    color: $main-blue;
    padding-top: 10px;
    margin-right: 10px;
    padding-left: 23px;
    font-size: .9em;
    float: right;   
    background-image: url("../imgs/icon-check-small.png");
    background-repeat: no-repeat;
    background-position: 0px 9px;
}
#decks .deckname {
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: 1em;
    font-weight: bold;
    clear: both;
    width: 90%;
    max-height: 70px;
    margin: 0 auto;
    text-align: center;
    margin-top: 71px;
    line-height: 15px;
    word-wrap:break-word;
}
/* ----------------- */
/* - Login  STYLES - */
/* ----------------- */
#welcome{
    display: block;
    width: 314px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#forms{
    width: 600px;
    height: 300px;
    background-color: $egg-white;
    margin: 0 auto;
    position: relative;
    @include corners;
    @include shadow(0px, 3px, 0px, #1b343b);
}
#loginForm{
    width: 220px;
    margin-left: 52px;
    height: 100%;
    float: left;
    margin-top: 25px;
}
#forms h1{
    color: $main-blue;
    margin-bottom: 10px;
}
#forms p{
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: .9em;
    font-weight: bold;
}
#forms a{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    height: 20px;
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: .7em;
    font-weight: bold;
    text-decoration: underline;
}
#forms input{
    width: 200px;
    height: 30px;
    font-family: "Helvetica Neue";
    font-size: .9em;
    color: $main-blue;
    border: 0px;
    -webkit-box-shadow: inset 0px 1px 2px 0px #707070;
    box-shadow: inset 0px 1px 2px 0px #707070;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-right: 10px;
    @include corners;
}
.divider{
    background-image: url("../imgs/form-line.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 297px;
    float: left;
}
#registerForm{
    width: 220px;
    margin-right: 52px;
    height: 100%;
    float: right;
    padding-top: 25px;
}
.regLeft{
    float: left;
}
.regRight{
    float: right;
}
#facebook{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
#forms button{
    width: 208px;
}
/* ----------------- */
/* -Profile STYLES - */
/* ----------------- */
#info{
    margin-top: 20px;
    overflow: auto;
}
#info a{
    display: inline;
}
#picture{
    width: 150px;
    float: left;
    margin-right: 10px;
}
#picture img{
    background-color: black;
    border: solid 5px $dark-blue;
    margin-bottom: 10px;
}
#picture button{
    width: 100%;
    height: 45px;
    font-size: 18px;
    text-align: center;
}
#profileInfo{
    float: left;
    width: 200px;
}
#profileInfo h1{
    @include textshadow;
}
#profileInfo h2{
    margin-top: 4px;
}
.profileLinks{
    font-size: .8em;
    color: $main-orange;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: .9px;
}
.profileLinks li{
    float: left;
    margin-left: 2px;
    padding: 0 3px;
    border-right: solid 1px $dark-blue;
    &:hover { text-decoration:underline; }
}
#quickInfo{
    width: 498px;
    height: 78px;
    background-color: $main-blue;
    border: solid 1px $dark-blue;
    float: right;
    text-align: center;
    @include corners;
}
#quickInfo li{
    width: 98px;
    height: 78px;
    float: left;
    border-right: solid 1px $dark-blue;
}
#quickInfo h1{
    margin-top: 15px;
    @include textshadow;
}
#quickInfo h2{
    font-size: .7em;
    font-weight: 900;  
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    @include textshadow;
}
#bgroup{
    float: right; 
    margin-top: 20px;
}
#bgroup button:first-child{
    width: 110px;
    height: 40px;
    margin-right: 5px;
}
#bgroup button:last-child{
    width: 150px;
    height: 40px;
}
#bgroup span{
    font-weight: bold;
}
#activity{
    clear: both;
    background-color: $egg-white;
    margin-top: 30px;
}
.dbbg{
    background-color: $dark-blue;
    width: 100%;
    height: 35px;
    @include borders(#09262d, none, none);
    @include shadow(2px, 0, 0, #bbd1d3);
    line-height: 35px;
}
.dbbg h1{
    font-size: .9em;
    text-transform: uppercase;
    @include textshadow;
}
#activity li{
    height: 70px;
    border-bottom: solid 1px #b2c4c5;
}
#activity img{
    background-color: black;
    float: left;
    margin-top: 10px;
}
#activity p{
    width: 850px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: "Helvetica Neue";
    color: $main-blue;
    font-size: 1em;
    font-weight: 500;  
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    display: block;
}
#activity .date{
    font-size: .8em;  
    margin-top: 3px; 
}