$egg-white: #ecece7;
$main-blue: #366774;
$main-orange: #e96151;

@mixin corners($radius : 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin shadow($drop : 0px, $spread : 2px, $color : #000000){
    -webkit-box-shadow:  0px $drop $spread 0px $color;
    box-shadow:  0px $drop $spread 0px $color;
}
@mixin borders($top : #000, $right : #000, $left : #000){
    border-top: solid 1px $top;
    border-right: solid 1px $right;
    border-left: solid 1px $left;
}
@mixin button(){
    color: #ecece7;
    display: inline;
    padding: 7px;
    background: $main-orange;
    -webkit-box-shadow:  0px 0px 1px 1px #b9b9b5;
    box-shadow:  0px 0px 1px 1px #b9b9b5;
    font-size: .9em;
    @include corners;
    @include borders(#f5bab3, #ed7f72, #ed7f72);
    @include shadow(1px, 1px, #14262b);
    &:hover { background:#ff6a59; }
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section a{ 
	display: block;
}

a{
    font-family: "Helvetica Neue";
    font-size: 1em;
    color: inherit;
    text-decoration: none;
    // width: 100% !important;
    // height: 100% !important;
}
html{
    width: 100%;
    letter-spacing: 1px;
    height: 100%;
    background-image: url("../imgs/bg-blue.jpg");
    -webkit-font-smoothing: antialiased;
}
body{
    min-height: 100%;
}

input{
    font-family: "Helvetica Neue";
}
strong{
    font-weight: bold;
}
header{
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: $egg-white;
    @include shadow(1px, 2px, #15272c);
}
.sizer{
    width: 940px;
    margin: 0 auto;
    position: relative;
}
header img{
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}
#navigation li, #tools li{
    float: left;
    margin-left: 20px;
    color: $main-blue;
    font-weight: bold;
    font-size: 14px;
    &:hover:not(.active) { text-decoration:underline; }
}
nav input{
    color: $main-blue;
    width: 270px;
    height: 35px;
    float: left;
    font-size: 1.2em;
    background-color: #dcdcd7;
    padding: 0;
    border: none;
    margin-left: 30px;
    margin-top: 12px;
    @include corners;
    @include shadow(1px, 2px, #f7f7f4);
    @include borders(#898986, #c0c0bc, #c0c0bc);
}
#navigation .active>a{
    @include button();
}


