/* ----------------- */
/* --- CSS RESET --- */
/* ----------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* ----------------- */
/* --- END RESET --- */
/* ----------------- */
html {
  width: 100%;
  letter-spacing: 1px;
  height: 100%;
  background-image: url("../imgs/bg-blue.jpg"); }

body {
  min-height: 100%;
  overflow: auto; }

h1 {
  font-family: "Helvetica Neue";
  color: #ecece7;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: 400; }

h2 {
  font-family: "Helvetica Neue";
  color: #ecece7;
  font-size: .9em;
  font-weight: 200;
  letter-spacing: 1px; }

h3 {
  font-family: "Helvetica Neue";
  color: #e96151;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px; }

a {
  display: block;
  font-family: "Helvetica Neue";
  font-size: 1em;
  color: inherit;
  text-decoration: none; }

strong {
  font-weight: bold; }

.left {
  width: 200px;
  float: left; }

.right {
  width: 200px;
  float: right; }

.forth {
  margin: 0; }

.last {
  border-right: none !important;
  padding-right: 0 !important;
  margin-right: 0 !important; }

.selected {
  color: #e96151 !important; }

button {
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b; }
  button:hover {
    background-color: #ff6a59; }

.button a {
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b; }
  .button a:hover {
    background-color: #ff6a59; }

.space {
  width: 99px;
  height: 25px;
  float: left; }

/* ----------------- */
/* - HEADER STYLES - */
/* ----------------- */
header {
  height: 65px;
  width: 100%;
  line-height: 65px;
  background-color: #ecece7;
  -webkit-box-shadow: 0px 1px 2px #15272c black;
  box-shadow: 0px 1px 2px #15272c black; }

#logo {
  width: 66px;
  height: 43px;
  float: left;
  margin-top: 5px;
  margin-right: 10px; }
  @media screen and (max-width: 658px) {
    #logo {
      margin-left: 10px; } }

nav {
  width: 330px;
  height: 60px;
  float: left; }

.sizer {
  width: 95%;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 658px) {
    .sizer {
      width: 100%; } }

header img {
  float: left;
  margin-right: 10px;
  margin-top: 4px; }

#navigation {
  width: 100%;
  height: 100%;
  white-space: nowrap; }

#navigation li, #tools li {
  float: left;
  margin-left: 15px;
  color: #366774;
  font-weight: 400;
  font-size: 1em;
  max-width: 100px;
  overflow: hidden; }
  #navigation li:hover, #tools li:hover {
    color: #e96151; }

nav input {
  float: left;
  margin-left: 30px;
  margin-top: 12px;
  color: #366774;
  width: 270px;
  height: 35px;
  font-size: 1.2em;
  background-color: #dcdcd7;
  padding: 0;
  border: none;
  background-image: url("../imgs/icon-search.png");
  background-repeat: no-repeat;
  background-position: 235px 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 1px 2px #f7f7f4 black;
  box-shadow: 0px 1px 2px #f7f7f4 black;
  border-top: solid 1px #898986;
  border-right: solid 1px #c0c0bc;
  border-left: solid 1px #c0c0bc; }

.active > a {
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b;
  padding: 7px; }
  .active > a:hover {
    background-color: #ff6a59; }

#tools {
  float: right;
  margin-right: 20px; }

.research {
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b;
  height: 25px;
  width: 50px;
  line-height: 25px;
  color: #ecece7;
  margin-top: 10px;
  margin-right: 0px;
  text-indent: -9999px;
  background-image: url("../imgs/icon-search-white.png");
  background-repeat: no-repeat;
  background-position: center; }
  .research:hover {
    background-color: #ff6a59; }

#login a, #logout a {
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b;
  float: right;
  height: 20px;
  margin: 10px;
  line-height: 20px; }
  #login a:hover, #logout a:hover {
    background-color: #ff6a59; }

#research {
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b;
  height: 20px;
  width: 50px;
  line-height: 25px;
  color: #ecece7;
  margin-top: 10px;
  margin-right: 10px;
  display: block;
  text-indent: -9999px;
  background-image: url("../imgs/icon-search-white.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: none;
  float: right; }
  #research:hover {
    background-color: #ff6a59; }

#mSearch {
  width: 100%;
  height: 70px;
  background-color: #0f3d48;
  text-align: center;
  margin-bottom: 5px; }

#search {
  margin-top: 15px;
  color: #366774;
  width: 270px;
  height: 35px;
  font-size: 1.2em;
  background-color: #dcdcd7;
  padding: 0;
  border: none;
  background-image: url("../imgs/icon-search.png");
  background-repeat: no-repeat;
  background-position: 235px 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 1px 2px #f7f7f4 black;
  box-shadow: 0px 1px 2px #f7f7f4 black;
  border-top: solid 1px #898986;
  border-right: solid 1px #c0c0bc;
  border-left: solid 1px #c0c0bc; }

#searchResults {
  background-color: #ecece7;
  width: 270px;
  position: absolute;
  z-index: 20;
  left: 50%;
  margin-left: -135px;
  top: 117px;
  border-top: solid 1px #617378;
  border-left: solid 1px #88a1a8;
  border-right: solid 1px #88a1a8;
  display: none;
  -webkit-box-shadow: 0px 0px 1px 0px black;
  box-shadow: 0px 0px 1px 0px black; }

.result {
  border-top: solid 1px #f4f5f3;
  border-bottom: solid 1px #617378;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #e96151;
  text-indent: 10px; }

.result:hover {
  background-color: #ecece7; }

/* ----------------- */
/* - DECKS  STYLES - */
/* ----------------- */
#content {
  width: 100%;
  overflow: hidden;
  min-height: 500px;
  margin-bottom: 50px; }
  @media screen and (max-width: 658px) {
    #content {
      width: 458px;
      margin: 0 auto; } }

@media screen and (max-width: 658px) {
  #content.userPage {
    width: 100%;
    margin: 0 auto; } }

#topDeck {
  width: 456px;
  height: 291px;
  background-image: url("../imgs/tablet/card-front.png");
  background-repeat: no-repeat;
  margin-top: 40px;
  float: left;
  margin-bottom: 10px;
  margin-left: 3px; }

#topDeck .username {
  font-family: "Helvetica Neue";
  color: #366774;
  padding-top: 15px;
  margin-left: 10px;
  font-size: 1.2em;
  float: left; }

#topDeck .votes {
  font-family: "Helvetica Neue";
  color: #366774;
  padding-top: 15px;
  margin-right: 10px;
  padding-left: 30px;
  font-size: 1.2em;
  float: right;
  background-image: url("../imgs/icon-check.png");
  background-repeat: no-repeat;
  background-position: 0px 10px; }

#topDeck .deckname {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1.5em;
  font-weight: bold;
  clear: both;
  width: 90%;
  height: 220px;
  margin: 0 auto;
  text-align: center;
  line-height: 230px;
  word-wrap: break-word; }

#topTags, #topUsers {
  width: 200px;
  height: 300px;
  float: left;
  margin-top: 40px;
  margin-left: 16px;
  overflow: auto; }
  @media screen and (max-width: 742px) {
    #topTags, #topUsers {
      float: right; } }
  @media screen and (max-width: 722px) {
    #topTags, #topUsers {
      margin-left: 5px;
      width: 150px;
      overflow: auto; } }
  @media screen and (max-width: 658px) {
    #topTags, #topUsers {
      display: none; } }

#topUsers {
  display: none; }
  @media screen and (max-width: 742px) {
    #topUsers {
      display: block;
      float: right;
      margin-top: 0px; } }
  @media screen and (max-width: 722px) {
    #topUsers {
      margin-top: 0px;
      margin-left: 5px;
      width: 150px;
      overflow: auto;
      float: right; } }
  @media screen and (max-width: 658px) {
    #topUsers {
      display: none; } }

#topTags li, #topUsers li {
  clear: both;
  margin-bottom: 10px; }

#topTags > h1, #topUsers > h1 {
  margin-bottom: 20px;
  font-family: "Helvetica Neue";
  color: #ecece7;
  font-size: 1.7em;
  font-weight: bold; }

#topTags ul h1, #deckTags ul h1 {
  display: inline;
  font-family: "Helvetica Neue";
  float: left;
  margin-right: 5px;
  font-size: .9em;
  cursor: pointer;
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b;
  padding: 7px 10px; }
  #topTags ul h1:hover, #deckTags ul h1:hover {
    background-color: #ff6a59; }

#topTags h2, #topUsers h2 {
  line-height: 30px;
  font-family: "Helvetica Neue";
  font-size: .9em;
  font-weight: 400;
  color: #ecece7;
  text-indent: 5px; }

.badge {
  clear: both;
  width: 36px;
  height: 36px;
  background-image: url("../imgs/badgeExample.png");
  float: left; }

#decks {
  clear: both;
  overflow: hidden;
  margin-bottom: 50px; }
  @media screen and (max-width: 742px) {
    #decks {
      clear: left; } }

@media screen and (max-width: 742px) {
  #decks.userDecksPage {
    width: 490px;
    margin: 0 auto;
    margin-bottom: 50px; } }

#decks .deck {
  width: 225px;
  height: 148px;
  background-image: url("../imgs/pc/card-small.png");
  float: left;
  margin-right: 8px;
  margin-bottom: 10px;
  position: relative; }

@media screen and (max-width: 742px) {
  #decks .deck:nth-child(even) {
    margin-right: 0px; } }

#decks .username {
  font-family: "Helvetica Neue";
  color: #366774;
  padding-top: 10px;
  margin-left: 10px;
  font-size: .9em;
  float: left; }

#decks .votes {
  font-family: "Helvetica Neue";
  color: #366774;
  padding-top: 10px;
  margin-right: 10px;
  padding-left: 23px;
  font-size: .9em;
  float: right;
  background-image: url("../imgs/icon-check.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
  font-weight: 900; }

#decks .deckname {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1em;
  font-weight: bold;
  clear: both;
  width: 90%;
  height: 100%;
  max-height: 70px;
  margin: 0 auto;
  text-align: center;
  margin-top: 71px;
  line-height: 15px;
  word-wrap: break-word; }

.deckname a {
  display: block;
  width: 100%;
  height: 100%; }

div.private {
  width: 37px;
  height: 18px;
  background-image: url("../imgs/icon-private.png");
  float: right;
  margin: 8px 8px 0px 0px; }

div.options {
  width: 220px;
  height: 25px;
  margin-left: 4px;
  background-color: #e96151;
  position: absolute;
  bottom: 0px;
  background-image: url("../imgs/icon-settings.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.3s;
  -webkit-transition: 0.3s;
  /* Safari */
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px; }
  div.options:hover {
    background-color: #ff6a59; }

div.options.open {
  height: 122px;
  background-position: top; }

.options ul {
  margin-top: 25px;
  border-top: 1px solid #ecece7; }

.options li {
  height: 32px;
  padding-left: 5px;
  margin-bottom: 1px;
  background-color: #ecece7;
  font-family: "Helvetica Neue";
  color: #e96151;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 32px; }
  .options li:hover {
    background-color: #ff6a59;
    color: #ecece7; }

.options li:last-child {
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px; }

/* ----------------- */
/* - Modal  STYLES - */
/* ----------------- */
#editModal, #privacyModal, #deleteModal {
  position: fixed;
  left: 50%;
  top: 0%;
  height: 180px;
  width: 400px;
  background-color: #ecece7;
  z-index: 2;
  text-align: center;
  margin-left: -200px;
  margin-top: -200px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 0px 2px 2px #e96151;
  box-shadow: 0px 0px 2px 2px #e96151;
  transition: width 1s;
  -webkit-transition: 1s;
  /* Safari */ }

#editModal h1, #privacyModal h1, #deleteModal h1 {
  color: #366774;
  text-align: center;
  margin-top: 20px;
  font-size: 1em;
  text-shadow: 0px 1px 1px white;
  filter: dropshadow(color=black, offx=0, offy=1); }

#editModal input {
  color: #366774;
  width: 270px;
  height: 35px;
  font-size: 1.2em;
  background-color: #dcdcd7;
  padding: 0;
  border: none;
  background-image: url("../imgs/icon-search.png");
  background-repeat: no-repeat;
  background-position: 235px 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 1px 2px #f7f7f4 black;
  box-shadow: 0px 1px 2px #f7f7f4 black;
  border-top: solid 1px #898986;
  border-right: solid 1px #c0c0bc;
  border-left: solid 1px #c0c0bc;
  background-image: none;
  margin-top: 20px; }

#editModal button, #privacyModal button, #deleteModal button {
  width: 150px;
  margin-top: 20px; }

#editModal button:first-child, #privacyModal button:first-child, #deleteModal button:first-child {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -33px;
  right: 9px;
  font-size: .8em;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px; }

.shade {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  display: none; }

/* ----------------- */
/* - Login  STYLES - */
/* ----------------- */
#welcome {
  display: block;
  width: 314px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; }

#forms {
  width: 600px;
  height: auto;
  background-color: #ecece7;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 0px 3px 0px #1b343b;
  box-shadow: 0px 0px 3px 0px #1b343b; }
  @media screen and (max-width: 742px) {
    #forms {
      width: 310px;
      margin: 0 auto;
      margin-bottom: 30px; } }

#loginForm {
  width: 220px;
  margin-left: 52px;
  height: 100%;
  float: left;
  margin-top: 25px; }
  @media screen and (max-width: 742px) {
    #loginForm {
      height: 230px; } }

#forms h1 {
  color: #366774;
  margin-bottom: 10px; }

#forms p {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: .9em;
  font-weight: bold; }

#forms a {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  width: 200px;
  height: 20px;
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: .7em;
  font-weight: bold;
  text-decoration: underline; }

#forms input {
  color: #366774;
  width: 270px;
  height: 35px;
  font-size: 1.2em;
  background-color: #dcdcd7;
  padding: 0;
  border: none;
  background-image: url("../imgs/icon-search.png");
  background-repeat: no-repeat;
  background-position: 235px 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 1px 2px #f7f7f4 black;
  box-shadow: 0px 1px 2px #f7f7f4 black;
  border-top: solid 1px #898986;
  border-right: solid 1px #c0c0bc;
  border-left: solid 1px #c0c0bc;
  width: 206px;
  height: 30px;
  margin-bottom: 10px; }

.divider {
  background-image: url("../imgs/form-line.png");
  background-repeat: no-repeat;
  width: 28px;
  height: 297px;
  float: left;
  margin-left: 10px; }
  @media screen and (max-width: 742px) {
    .divider {
      display: none; } }

#registerForm {
  width: 220px;
  margin-right: 42px;
  height: 100%;
  float: right;
  padding-top: 25px; }

.regLeft {
  float: left; }

.regRight {
  float: right; }

#facebook {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px; }

#forms button {
  width: 208px; }

.error {
  text-align: left;
  color: #e96151;
  font-size: .8em;
  font-family: "Helvetica Neue"; }

.regError {
  text-align: left;
  color: #e96151;
  font-size: .8em;
  font-family: "Helvetica Neue"; }

/* ----------------- */
/* -Profile STYLES - */
/* ----------------- */
#info {
  border-top: none;
  width: 100%;
  padding-top: 20px;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 742px) {
    #info {
      width: 490px;
      margin: 0 auto;
      padding-left: 7px; } }

#info a {
  display: inline; }

#picture {
  width: 150px;
  float: left;
  margin-right: 10px; }

#picture img {
  width: 140px;
  height: 140px;
  background-color: black;
  border: solid 5px #0f3d48;
  margin-bottom: 5px; }

#picture .button a {
  width: 128px;
  height: 20px;
  font-size: 18px;
  text-align: center;
  float: left;
  margin-bottom: 10px; }

#profileInfo {
  float: left;
  width: 300px; }

#profileInfo h1 {
  text-shadow: 0px 2px 1px #1f3a42;
  filter: dropshadow(color=black, offx=0, offy=1); }

#profileInfo h2 {
  margin-top: 4px; }

#profileInfo h3 {
  margin-top: 4px; }

.rating {
  background-image: url("../imgs/icon-check-orange.png");
  background-repeat: no-repeat;
  text-indent: 25px;
  font-weight: 800; }

.profileLinks {
  width: 200px;
  font-size: .8em;
  color: #e96151;
  margin-top: 15px;
  font-weight: 200;
  letter-spacing: .9px; }

.profileLinks li {
  width: 47px;
  margin: 0 auto;
  float: left;
  margin-left: 2px;
  padding: 0 3px;
  border-right: solid 1px #0f3d48; }
  .profileLinks li:hover {
    text-decoration: underline; }

#quickInfo {
  width: 498px;
  height: 78px;
  background-color: #366774;
  border: solid 1px #0f3d48;
  float: left;
  text-align: center;
  margin-top: 20px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; }
  @media screen and (max-width: 742px) {
    #quickInfo {
      width: 462px; } }

#quickInfo li {
  width: 98px;
  height: 78px;
  float: left;
  border-right: solid 1px #0f3d48; }
  @media screen and (max-width: 742px) {
    #quickInfo li {
      width: 91px; } }

#quickInfo h1 {
  margin-top: 15px;
  text-shadow: 0px 2px 1px #1f3a42;
  filter: dropshadow(color=black, offx=0, offy=1); }

#quickInfo h2 {
  font-size: .7em;
  font-weight: 900;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 2px 1px #1f3a42;
  filter: dropshadow(color=black, offx=0, offy=1); }

#bgroup {
  float: right;
  margin-top: 10px;
  position: absolute;
  right: 10px; }

#bgroup .button a:first-child {
  width: 110px;
  height: 40px; }

#bgroup .button a:last-child {
  width: 150px;
  height: 40px; }

#bgroup span {
  font-weight: bold; }

#activity {
  clear: both;
  background-color: #ecece7;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px; }

.dbbg {
  background-color: #0f3d48;
  width: 100%;
  height: 35px;
  border-top: solid 1px #09262d;
  border-right: solid 1px none;
  border-left: solid 1px none;
  -webkit-box-shadow: 0px 2px 0 0 #bbd1d3;
  box-shadow: 0px 2px 0 0 #bbd1d3;
  line-height: 35px; }

.dbbg h1 {
  font-size: .9em;
  text-transform: uppercase;
  text-shadow: 0px 2px 1px #1f3a42;
  filter: dropshadow(color=black, offx=0, offy=1);
  margin-left: 10px; }

#activity li {
  height: 70px;
  border-bottom: solid 1px #b2c4c5; }

#activity li:last-child {
  border: none; }

#activity img {
  background-color: black;
  float: left;
  margin-top: 10px;
  margin-left: 10px; }

#activity p {
  width: 80%;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  font-size: .9em; }

#activity .date {
  font-size: .8em;
  margin-top: 3px; }

/* ----------------- */
/* - USERS  STYLES - */
/* ----------------- */
#filters {
  background-color: #0f3d48;
  height: 110px;
  -webkit-box-shadow: 0px 1px 2px 0px #43717d;
  box-shadow: 0px 1px 2px 0px #43717d; }
  @media screen and (max-width: 658px) {
    #filters {
      padding: 0 10px; } }

.usearch {
  width: 50%;
  height: 110px;
  float: left; }

.usearch h1 {
  font-size: .9em;
  margin-top: 20px;
  margin-bottom: 10px; }

.usearch input {
  color: #366774;
  width: 270px;
  height: 35px;
  font-size: 1.2em;
  background-color: #dcdcd7;
  padding: 0;
  border: none;
  background-image: url("../imgs/icon-search.png");
  background-repeat: no-repeat;
  background-position: 235px 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 1px 2px #f7f7f4 black;
  box-shadow: 0px 1px 2px #f7f7f4 black;
  border-top: solid 1px #898986;
  border-right: solid 1px #c0c0bc;
  border-left: solid 1px #c0c0bc; }

.sortby {
  width: 280px;
  float: right; }

.sortby h1 {
  font-size: .9em;
  margin-top: 20px;
  margin-bottom: 10px; }

.sortby ul {
  color: #366774;
  width: 270px;
  height: 35px;
  font-size: 1.2em;
  background-color: #dcdcd7;
  padding: 0;
  border: none;
  background-image: url("../imgs/icon-search.png");
  background-repeat: no-repeat;
  background-position: 235px 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 1px 2px #f7f7f4 black;
  box-shadow: 0px 1px 2px #f7f7f4 black;
  border-top: solid 1px #898986;
  border-right: solid 1px #c0c0bc;
  border-left: solid 1px #c0c0bc;
  background-image: none;
  width: 280px; }

.sortby li {
  font-family: "Helvetica Neue";
  float: left;
  color: #366774;
  font-weight: bold;
  font-size: 14px;
  line-height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  border-right: solid 1px #366774; }
  .sortby li:hover {
    color: #e96151; }

#users {
  margin-top: 20px;
  width: 96%;
  padding: 0 2%; }

#users li {
  width: 45%;
  height: 100px;
  float: left;
  overflow: hidden; }

#users li:nth-child(even) {
  float: right; }

#users img {
  float: left;
  border: solid 2px #0f3d48; }

#users h1 {
  margin-left: 80px;
  width: inhert;
  font-size: 1.2em;
  border-bottom: solid 1px #0f3d48; }

#users h3 {
  font-size: 1em;
  margin-left: 80px; }

#users .button {
  float: right;
  font-size: .8em; }

#users .sizer .flHeader {
  border: none;
  margin: 0px;
  margin-bottom: 30px;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: 400; }

#users .space {
  display: block;
  width: 150px;
  height: 20px; }

/* ----------------- */
/* -ADD DECK STYLES- */
/* ----------------- */
#newDeck {
  width: 90%;
  height: auto;
  overflow: hidden;
  background-color: #ecece7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 3px 0px #1b343b;
  box-shadow: 0px 0px 3px 0px #1b343b;
  padding: 20px;
  margin-top: 20px; }

.newDeckTitle {
  text-align: center;
  margin-top: 20px;
  text-shadow: 0px 2px 1px #1f3a42;
  filter: dropshadow(color=black, offx=0, offy=1); }

#deckForm {
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 15px;
  position: relative; }
  @media screen and (max-width: 658px) {
    #deckForm {
      width: 100%;
      padding: 0px; } }

#deckForm .error {
  width: 190px;
  top: 192px;
  left: 65px; }

#deckForm .titleError {
  color: #e96151;
  font-size: .8em;
  font-family: "Helvetica Neue";
  position: absolute;
  width: 300px;
  top: 5px;
  left: 115px; }

#deckForm p {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1.1em;
  font-weight: bold; }

#deckForm label {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: .7em;
  font-weight: bold; }

#deckForm input:not([type="radio"]) {
  width: 95%;
  height: 30px;
  font-family: "Helvetica Neue";
  font-size: .9em;
  color: #366774;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  -webkit-box-shadow: inset 0px 1px 2px 0px #707070;
  box-shadow: inset 0px 1px 2px 0px #707070;
  margin-bottom: 30px;
  padding-left: 5px;
  margin-right: 10px;
  margin-top: 5px; }

#public {
  margin-top: 10px;
  margin-bottom: 5px; }

#private {
  margin-bottom: 30px; }

#tagArea {
  margin-top: 5px;
  width: 96%;
  height: 110px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px 0px #707070;
  box-shadow: 0px 0px 3px 0px #707070;
  overflow: auto; }

#deckForm button {
  font-size: 1.3em;
  width: 97%; }

#deckForm .cancel {
  font-size: .7em;
  text-decoration: underline;
  text-align: center;
  margin-top: 5px; }

#newDeck section {
  width: 40%;
  height: 100%;
  float: right;
  padding-left: 40px;
  background-image: url("../imgs/form-line2.png");
  background-repeat: no-repeat; }
  @media screen and (max-width: 658px) {
    #newDeck section {
      width: 100%;
      float: left;
      clear: both;
      margin-top: 40px;
      background-image: none;
      padding: 0px; } }

#newDeck section h1 {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px; }

#newDeck section p {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1em;
  margin-bottom: 40px;
  line-height: 20px;
  font-weight: lighter; }

#tagArea h1 {
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b;
  display: inline;
  padding: 5px;
  float: left;
  margin: 2px;
  font-size: .8em; }
  #tagArea h1:hover {
    background-color: #ff6a59; }

.del {
  width: 14px;
  height: 13px;
  background-image: url("../imgs/icon-del.png");
  background-repeat: no-repeat;
  display: block;
  float: right;
  margin-left: 7px;
  margin-top: 4px; }

.del:hover {
  background-image: url("../imgs/icon-del-hover.png");
  background-repeat: no-repeat; }

/* ----------------- */
/* - Cards  STYLES - */
/* ----------------- */
#deckInfo {
  float: left;
  max-width: 500px;
  color: #ecece7;
  font-family: "Helvetica Neue";
  font-size: .8em;
  margin-left: 10px;
  margin-top: 20px;
  font-weight: bold; }

#deckInfo h2 {
  color: #e96151; }

#cards {
  width: 90%;
  height: 400px;
  margin: 0px 5%;
  position: relative; }

.aCard {
  width: 449px;
  height: 289px;
  background-image: url("../imgs/card-front.png");
  background-repeat: no-repeat;
  margin-top: 40px;
  float: left;
  position: relative;
  overflow: hidden; }

#cards .aCard h1 {
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1.5em;
  font-weight: bold;
  clear: both;
  width: 90%;
  height: 220px;
  margin: 0 auto;
  text-align: center;
  margin-top: 110px;
  line-height: 30px; }

.activeCard {
  z-index: 2;
  position: absolute;
  left: 50%;
  margin-left: -224.5px;
  top: 10px;
  background-image: url("../imgs/card-front-active.png");
  overflow: hidden; }

.activeCardBack {
  z-index: 2;
  position: absolute;
  left: 50%;
  margin-left: -224.5px;
  top: 10px;
  background-image: url("../imgs/card-back-active.png");
  overflow: hidden; }

.leftCard {
  position: absolute;
  left: 0;
  background-image: url("../imgs/card-front-blur.png");
  overflow: hidden; }

#cards .leftCard h1, #cards .rightCard h1 {
  color: transparent;
  text-shadow: #366774 0 0 3px; }

.rightCard {
  position: absolute;
  right: 0;
  background-image: url("../imgs/card-front-blur.png");
  overflow: hidden; }

.hideCard {
  display: none; }

#prog {
  width: 80%;
  height: 30px;
  background-color: #0f3d48;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px 0px #6b8e98;
  box-shadow: 0px 1px 2px 0px #6b8e98;
  border-top: solid 1px #13252a;
  margin-bottom: 50px; }

#p {
  width: 0%;
  height: 100%;
  background-color: #e96151;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px; }

#p.pFull {
  height: 100%;
  background-color: #e96151;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; }

#progNum {
  clear: both;
  text-align: center;
  font-family: "Helvetica Neue";
  color: #e96151;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px; }

#mobileCardT {
  display: none; }

#cardT {
  width: 450px;
  height: 55px;
  margin: 0 auto;
  position: relative; }

#cardTools {
  width: 210px;
  height: 50px;
  background-color: #0f3d48;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px 0px #6b8e98;
  box-shadow: 0px 1px 2px 0px #6b8e98;
  border-top: solid 1px #13252a;
  font-family: "Helvetica Neue";
  color: #ecece7;
  font-size: .8em;
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
  position: relative; }

#toolButtons {
  width: 200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 8px; }

#leftArrow {
  width: 32px;
  height: 32px;
  background-image: url("../imgs/icon-left.png");
  margin-right: 3px;
  position: absolute; }

#toolButtons button {
  float: left;
  margin-left: 40px;
  width: 120px;
  height: 30px;
  padding: 0px; }

#rightArrow {
  width: 32px;
  height: 32px;
  background-image: url("../imgs/icon-right.png");
  position: absolute;
  left: 172px; }

#randomize {
  float: left;
  margin-top: 16px;
  margin-left: 40px; }

#cardTools label {
  float: left;
  margin-top: 15px; }

#editButton {
  padding: 5px;
  margin-top: 10px;
  margin-right: 5px;
  float: left; }

#deleteButton {
  padding: 5px;
  margin-top: 10px;
  float: left; }

#randomButton {
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  float: left; }

.aCard textarea {
  width: 300px;
  height: 120px;
  font-family: "Helvetica Neue";
  font-size: 1.1em;
  color: #366774;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  -webkit-box-shadow: inset 0px 1px 2px 0px #707070;
  box-shadow: inset 0px 1px 2px 0px #707070;
  margin-bottom: 10px;
  padding-left: 5px;
  margin-right: 10px;
  margin-top: 70px;
  margin-left: 70px;
  resize: none; }

.answer {
  display: none; }

#voting {
  width: 134px;
  height: 75px;
  float: right; }

#aPlus {
  width: 67px;
  height: 60px;
  background-image: url("../imgs/icon-a.png");
  float: left;
  margin-top: 10px; }

#aMinus {
  width: 67px;
  height: 60px;
  background-image: url("../imgs/icon-a.png");
  float: right;
  margin-top: 10px; }

#aMinus:hover, #aPlus:hover {
  background-image: url("../imgs/icon-a-hover.png");
  cursor: pointer; }

#aPlus h1, #aMinus h1 {
  color: #e96151;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 18px;
  margin-top: 15px; }

#voting .selectedGrade {
  background-image: url("../imgs/icon-a-active.png"); }

#voting .selectedGrade h1 {
  color: #ecece7; }

.cardedit {
  width: 90%;
  height: 30px;
  margin-left: 20px;
  margin-top: 110px;
  text-align: center;
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: 1.5em; }

.editHint {
  text-align: center;
  font-family: "Helvetica Neue";
  color: #366774;
  font-size: .8em;
  margin-top: 5px; }

#vote a {
  background-image: url("../imgs/icon-check-white.png");
  background-repeat: no-repeat;
  background-position: 5px 10px;
  text-indent: 20px; }

#vote .voted, .voted {
  background-color: #366774;
  border-top: solid 1px #0f3d48;
  border-right: solid 1px #0f3d48;
  border-left: solid 1px #0f3d48;
  cursor: default; }
  #vote .voted:hover, .voted:hover {
    background: #366774; }

.addDeck a {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 50%;
  margin-left: -25%; }

#filters.decksPage {
  height: 160px; }

footer {
  height: 200px;
  width: 100%; }

@media screen and (max-width: 658px) {
  #tags {
    padding: 0px 10px;
    overflow: hidden;
    margin-bottom: 40px; } }

.tagList {
  width: 45%;
  height: 70px;
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b;
  float: left;
  margin-top: 10px; }
  .tagList:hover {
    background-color: #ff6a59; }

.tagList:nth-child(even) {
  float: right; }

.tagList h1 {
  margin-top: 15px; }

.bgPoint {
  clear: both;
  width: 100%;
  height: 10px;
  background: url("../imgs/bg-arrow.png");
  margin-top: -10px; }

.aboutPage .bgPoint {
  margin-top: 0px; }

footer {
  height: 220px;
  width: 100%;
  background-color: blue;
  background: url("../imgs/bg-footer.jpg");
  padding-top: 30px;
  position: relative; }

footer h1 {
  background-image: url("../imgs/icon-check-white.png");
  background-repeat: no-repeat;
  color: #ecece7;
  background-position: 0px -4px;
  text-indent: 25px;
  font-size: 1em;
  width: 100%;
  border-bottom: solid 1px #0a1a1f; }

footer .button a {
  padding: 0px;
  position: absolute;
  width: 300px;
  height: 60px;
  line-height: 60px;
  left: 50%;
  margin-left: -150px;
  margin-top: 40px; }
  @media screen and (max-width: 742px) {
    footer .button a {
      margin-left: -100px;
      width: 200px;
      height: 50px; } }

footer .buttonbg {
  position: absolute;
  width: 315px;
  height: 75px;
  left: 50%;
  margin-left: -158.7px;
  margin-top: 31px;
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-left: solid 1px black;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  background-color: #0a1a1f;
  -webkit-box-shadow: 0px 1px 2px 1px #16353c;
  box-shadow: 0px 1px 2px 1px #16353c; }
  @media screen and (max-width: 742px) {
    footer .buttonbg {
      width: 215px;
      height: 65px;
      margin-left: -109px; } }

#newsletter {
  width: 25%;
  height: 174px;
  float: left; }
  @media screen and (max-width: 658px) {
    #newsletter {
      margin-left: 10px; } }

#newsletter p {
  font-family: "Helvetica Neue";
  font-size: .7em;
  margin-top: 10px;
  color: #366774;
  text-decoration: none;
  margin-bottom: 10px; }

#newsletter input {
  color: #366774;
  width: 270px;
  height: 35px;
  font-size: 1.2em;
  background-color: #dcdcd7;
  padding: 0;
  border: none;
  background-image: url("../imgs/icon-search.png");
  background-repeat: no-repeat;
  background-position: 235px 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 1px 2px #f7f7f4 black;
  box-shadow: 0px 1px 2px #f7f7f4 black;
  border-top: solid 1px #898986;
  border-right: solid 1px #c0c0bc;
  border-left: solid 1px #c0c0bc;
  width: 98%;
  background-image: none;
  padding: 0px;
  padding-left: 2%;
  background-color: #0a1a1f;
  border-top: solid 1px #040b0e;
  border-right: solid 1px #081519;
  border-left: solid 1px #081519;
  -webkit-box-shadow: 0px 1px 2px 1px #16353c;
  box-shadow: 0px 1px 2px 1px #16353c;
  font-size: 1em; }
  @media screen and (max-width: 658px) {
    #newsletter input {
      font-size: .8em; } }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #366774; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #366774; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #366774; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #366774; }

#footerNav {
  width: 25%;
  height: 174px;
  float: right; }

#footerNav li, #footerNav a {
  font-family: "Helvetica Neue";
  font-size: .7em;
  color: #366774;
  margin-top: 5px;
  width: 50%;
  float: left; }

#footerNav li:nth-child(even), #footerNav a:nth-child(even) {
  float: right; }

#bottomFooter {
  clear: both;
  height: 76px;
  width: 100%;
  background: url("../imgs/bg-footer_bottom.jpg");
  text-align: center;
  line-height: 76px;
  color: #1f1f1e;
  font-family: "Helvetica Neue";
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 1px; }

/* ----------------- */
/* - About  STYLES - */
/* ----------------- */
#content.aboutPage {
  margin-bottom: 0px; }
  @media screen and (max-width: 658px) {
    #content.aboutPage {
      width: 100% !important; } }

#btf {
  margin-top: 20px;
  border-top: solid 5px #0f3d48;
  height: auto;
  width: 100%;
  overflow: hidden;
  background-color: #2d2d2d;
  -webkit-box-shadow: inset 0px 2px 2px 0px #13242a;
  box-shadow: inset 0px 2px 2px 0px #13242a;
  padding-bottom: 30px; }

#btf .sizer {
  width: 485px; }

.arts {
  width: 230px;
  height: 200px;
  float: left;
  margin-top: 10px;
  margin-right: 6px; }

#btf img {
  margin-left: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px #000;
  box-shadow: 0px 0px 5px 0px #000;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }

#btf img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  transition: width 0.5s;
  -webkit-transition: 0.5s;
  /* Safari */ }

#btf p {
  font-family: "Helvetica Neue";
  color: #ecece7;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8em;
  font-weight: 300; }

#btf h1 {
  color: #e96151;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 5px; }

.dontdoit {
  margin-right: 0; }

.aboutPage #cardTools {
  position: asbolute;
  left: 50%;
  margin: 0;
  margin-left: -100px;
  margin-bottom: 20px;
  margin-top: -40px; }

#pagination {
  width: 100%;
  height: 70px;
  background-color: #0f3d48;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 1px 2px 0px #0f272d;
  box-shadow: inset 0px 1px 2px 0px #0f272d;
  margin-top: -20px; }
  @media screen and (max-width: 658px) {
    #pagination {
      margin-top: 10px; } }

.pagg {
  width: auto;
  float: right;
  height: auto;
  margin-top: 20px;
  margin-right: 20px; }

#pagination a, #pagination strong {
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b;
  font-size: .7em;
  font-wight: 800;
  width: auto;
  height: 10px;
  dispay: block;
  padding: 7px;
  margin: 0px; }
  #pagination a:hover, #pagination strong:hover {
    background-color: #ff6a59; }

label.filebutton, .sub {
  width: 149px;
  overflow: hidden;
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative; }
  label.filebutton:hover, .sub:hover {
    background-color: #ff6a59; }

#uploadSubmit {
  float: left;
  overflow: hidden;
  font-family: "Helvetica";
  color: #ecece7 !important;
  display: inline;
  padding: 10px;
  background: #e96151;
  font-size: .9em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-top: solid 1px #f5bab3;
  border-right: solid 1px #ed7f72;
  border-left: solid 1px #ed7f72;
  -webkit-box-shadow: 0px 1px 0px 0px #14262b;
  box-shadow: 0px 1px 0px 0px #14262b; }
  #uploadSubmit:hover {
    background-color: #ff6a59; }

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding: 0; }

#notifications {
  width: 90%;
  min-height: 400px;
  overflow: auto;
  padding-top: 20px; }
  @media screen and (max-width: 658px) {
    #notifications {
      padding: 3%; } }

.notilist {
  width: 45%;
  height: 93px;
  border-bottom: solid 1px #0f3d48;
  overflow: hidden;
  position: relative;
  float: left; }

.notilist:nth-child(even) {
  float: right; }

.notilist img {
  width: 70px;
  height: 70px;
  float: left;
  border: solid 2px #0f3d48;
  margin-right: 5px; }

.notilist h1 {
  float: left;
  margin-top: 1px;
  margin-right: 5px;
  width: auto;
  height: 10px;
  font-size: .9em;
  color: #e96151; }

.notlist h2 {
  float: left; }

.notilist .button {
  float: left;
  margin-top: 20px; }

.notilist .button a {
  padding: 7px 7px; }

.notilist .button:nth-child(even) {
  margin-right: 5px; }
