/* COLORS
Egg White: #ecece7;
Blue: #366774;
Red: #e96151;
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Helvetica, Arial, sans-serif;
	list-style: none;
	text-decoration: none;
	color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}
button{
	font-family: "Helvetica Neue";
	letter-spacing: 1px;
}
/* General Page Styles */
html{
	width: 100%;
	letter-spacing: 1px;
	height: 100%;
	background-image: url("../imgs/bg-blue.jpg");
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
}
body{
	min-height: 100%;
}
a{
	display: inherit;
	font-family: "Helvetica Neue";
	font-size: 1em;
	width: 100% !important;
	height: 100% !important;
}
input{
	font-family: "Helvetica Neue";
}
strong{
	font-weight: bold;
}
/* Navigation Styles */
#logo{
	width: ;
}
header{
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: #ecece7;
   	border-bottom: solid 1px #15272c;
}
.sizer{
	width: 940px;
	margin: 0 auto;
	position: relative;
}
header img{
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}
#navigation li, #tools li{
	float: left;
	margin-left: 20px;
	color: #366774;
}
#tools a{
	display: block;
	width: 100%;
	height: 100%;
}
nav input{
	color: #366774;
	width: 270px;
	float: left;
	height: 35px;
	font-size: 1.2em;
	background-color: #9bb8c0;
	padding: 0;
	font-weight: lighter;
	border: none;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 5px;
    border-top: solid 1px #617378;
    border-left: solid 1px #88a1a8;
    border-right: solid 1px #88a1a8;
    -webkit-box-shadow:  0px 1px 2px 1px #f4f5f3;
    box-shadow:  0px 1px 2px 1px #f4f5f3;
    padding-left: 10px;
}
#navigation .active>a{
	color: #ecece7;
	display: inline;
	padding: 7px;
	background: #ffb4a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb4a4 0%, #e96151 44%, #e96151 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb4a4), color-stop(44%,#e96151), color-stop(100%,#e96151)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb4a4', endColorstr='#e96151',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 0px 1px 1px #b9b9b5;
    box-shadow:  0px 0px 1px 1px #b9b9b5;
    border-top: solid 1px #f5bab3;
    font-size: .9em;
    border-left: solid 1px #ed7f72;
    border-right: solid 1px #ed7f72;
}
#navigation .active>a:hover{
	background: #ffc9bc; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc9bc 0%, #e87669 45%, #e87669 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc9bc), color-stop(45%,#e87669), color-stop(100%,#e87669)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc9bc', endColorstr='#e87669',GradientType=0 ); /* IE6-9 */
}
::-webkit-input-placeholder { 
	color:#366774; 
	font-family: "Helvetica Neue";
	font-style: italic;
}
input:-moz-placeholder { 
	color:#366774; 
	font-family: "Helvetica Neue";
	font-style: italic;
}
#tools{
	float: right;
	width: 163px;
}
#tools ul{
	float: right;
}
#tools li{
	float: right;
	width: 80px;
	background-color: #dcdcd7;
	margin: 0px;
	text-align: center;
	border-left: solid 1px #bbbbb7;
}
.last{
	border-right: solid 1px #bbbbb7;
}
#tools li:hover{
	color: #ecece7;
	background-color: #bbbbb7;
}


/* Browse Content Styles */








/*Your Decks Page Styles*/
#topWelcome{
	background-color: #1d3940;
	width: 100%;
	height: 75px;
	border-bottom: solid 1px #648187;
}
#topWelcome h1{
	font-family: "Helvetica Neue";
	font-size: 2em;
	font-weight: lighter;
	color: #ecece7;
	float: left;
	margin-top: 20px;
}
#topWelcome button{
	float: right;
	font-size: 1.2em;
	margin-top: 20px;
}
#topWelcome button a{
	width: 100px;
	height: 100px;
}

.profilePicture{
	background-image: url("../imgs/50x50_placeholder.png");
	width: 50px;
	height: 50px;
}

#deckName{
	margin-top: 20px;
}
#yourdecks{
	margin-top: 20px;
}
#yourdecks .deck, #yourdecks .deckEdit{
	width: 229px;
	height: 148px;
	background-image: url("../imgs/card-small.png");
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
	position: relative;
}

#yourdecks .edit{
	font-family: "Helvetica Neue";
	color: #366774;
	padding-top: 10px;
	margin-left: 10px;
	font-size: .9em;
	float: left;
	text-decoration: underline;
	font-weight: bold;
    cursor:pointer;
}
#yourdecks .privacy{
	font-family: "Helvetica Neue";
	color: #366774;
	padding-top: 10px;
	margin-left: 53px;
	font-size: .9em;
	float: left;
}
#yourdecks .votes{
	font-family: "Helvetica Neue";
	color: #366774;
	padding-top: 10px;
	margin-right: 10px;
	padding-left: 23px;
	font-size: .9em;
	float: right;	
	background-image: url("../imgs/icon-check-small.png");
	background-repeat: no-repeat;
	background-position: 0px 9px;
}
#yourdecks .deckname{
	font-family: "Helvetica Neue";
	color: #366774;
	font-size: 1em;
	font-weight: bold;
	clear: both;
	width: 90%;
	max-height: 70px;
	margin: 0 auto;
	text-align: center;
	margin-top: 71px;
	line-height: 15px;
	word-wrap:break-word;
}
#yourdecks input.deckname{
	width: 90%;
	height: 30px;
	margin-left: 8px;
	margin-top: 40px;
}
#yourdecks input.privacyCheck{
	float: left;
	margin-left: 38px;
	margin-right: -60px;
	margin-top: 12px;
}


.tit{
	margin-bottom: 20px;
	font-family: "Helvetica Neue";
	color: #ECECE7;
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
	margin-top: 40px;
}

#newDeck{
	width: 660px;
	height: 450px;
	background-color: #ecece7;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    -webkit-box-shadow:  0px 0px 3px 0px #1b343b;
    box-shadow:  0px 0px 3px 0px #1b343b;
    padding: 20px;
}
#deckForm{
	width: 275px;
	height: 100%;
	float: left;
	padding-left: 15px;
	position: relative;
}
#deckForm .error{
	width: 190px;
	top: 192px;
	left: 65px;
}
#deckForm .titleError{
	color: #e96151;
	font-size: .8em;
	font-family: "Helvetica Neue";
	position: absolute;
	width: 300px;
	top: 5px;	
	left: 115px;
}
#deckForm p{
	font-family: "Helvetica Neue";
	color: #366774;
	font-size: 1.1em;
	font-weight: bold;
}
#deckForm label{
	font-family: "Helvetica Neue";
	color: #366774;
	font-size: .7em;
	font-weight: bold;
}
#deckForm input:not([type="radio"]){
	width: 250px;
	height: 30px;
	font-family: "Helvetica Neue";
	font-size: .9em;
	color: #366774;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    -webkit-box-shadow: inset 0px 1px 2px 0px #707070;
    box-shadow: inset 0px 1px 2px 0px #707070;
    margin-bottom: 30px;
    padding-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
}
#public{
	margin-top: 10px;
	margin-bottom: 5px;
}
#private{
	margin-bottom: 30px;
}
#tagArea{
	margin-top: 5px;
	width: 255px;
	height: 110px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 3px 0px #707070;
    box-shadow: 0px 0px 3px 0px #707070;
    overflow: auto;
}
#deckForm button{
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom:10px;
	margin-left: 30px;
}
#deckForm .cancel{
	font-size: .7em;
	text-decoration: underline;
	margin-left: 100px;
	margin-top: 5px;
}
#newDeck section{
	width: 330px;
	height: 100%;
	float: right;
	padding-left: 40px;
	background-image: url("../imgs/form-line2.png");
	background-repeat: no-repeat;
}
#newDeck section h1{
	font-family: "Helvetica Neue";
	color: #366774;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 5px;
}
#newDeck section p{
	font-family: "Helvetica Neue";
	color: #366774;
	font-size: 1em;
	margin-bottom: 40px;
	line-height: 20px;
	font-weight: lighter;
}
#tagArea h1{
	color: #ecece7;
	display: inline;
	font-family: "Helvetica Neue";
	padding: 5px;
	padding-left: 10px;
	padding-right: 5px;
	background: #ffb4a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb4a4 0%, #e96151 44%, #e96151 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb4a4), color-stop(44%,#e96151), color-stop(100%,#e96151)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb4a4', endColorstr='#e96151',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 2px 0px #13252a;
    box-shadow:  0px 1px 2px 0px #13252a;
    border-top: solid 1px #f5bab3;
    float: left;
    margin: 2px;
    font-size: .8em;
    border-left: solid 1px #ed7f72;
    border-right: solid 1px #ed7f72;
    cursor:pointer;	
}
.del{
	width: 14px;
	height: 13px;
	background-image: url("../imgs/icon-del.png");
	background-repeat: no-repeat;
	display: block;
	float: right;
	margin-left: 7px;
	margin-top: 2px;
}
.del:hover{
	background-image: url("../imgs/icon-del-hover.png");
	background-repeat: no-repeat;
}

#first{
	width: 940px;
}

.first_deck{
	width:449px;
	height: 289px;
	background-image: url("../imgs/card-front.png");
	background-repeat: no-repeat;
	/* margin-top: 40px; */
	/* float: left; */
	position: relative;
	margin: 0 auto;
}

.first_deck h1{
	font-family: "Helvetica Neue";
	color: #366774;
	font-size: 1.5em;
	font-weight: bold;
	clear: both;
	width: 90%;
	height: 220px;
	margin: 0 auto;
	text-align: center;
	margin-top: 70px;
	line-height: 310px;
}


/*Cards Page Styles*/
#deckInfo{
	float: left;
	max-width: 500px;
	color: #ecece7;
	font-family: "Helvetica Neue";
	font-size: .8em;
	margin-left: 10px;
	margin-top: 20px;
	font-weight: bold;
}

#deckInfo h2{
	color: #e96151;
}
#cards{
	width: 940px;
	height: 400px;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}
.aCard{
	width:449px;
	height: 289px;
	background-image: url("../imgs/card-front.png");
	background-repeat: no-repeat;
	margin-top: 40px;
	float: left;
	position: relative;
}

#cards .aCard h1{
	font-family: "Helvetica Neue";
	color: #366774;
	font-size: 1.5em;
	font-weight: bold;
	clear: both;
	width: 90%;
	height: 220px;
	margin: 0 auto;
	text-align: center;
	margin-top: 110px;
	line-height: 30px;
}
.activeCard{
	z-index: 2;
	position: absolute;
	left: 249px;
	top: 10px;
	background-image: url("../imgs/card-front-active.png");

}
.activeCardBack{
	z-index: 2;
	position: absolute;
	left: 249px;
	top: 10px;
	background-image: url("../imgs/card-back-active.png");
}
.leftCard{
	float: left;
	background-image: url("../imgs/card-front-blur.png");
}
#cards .leftCard h1, #cards .rightCard h1{
	color: transparent;
	text-shadow: #366774 0 0 3px;
}
.rightCard{
	float: right;
	background-image: url("../imgs/card-front-blur.png");
}
.hideCard{
	display: none;
}
#prog{
	width: 940px;
	height: 30px;
	background-color: #0f3d48;
	margin: 0 auto;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 2px 0px #6b8e98;
    box-shadow:  0px 1px 2px 0px #6b8e98;
    border-top: solid 1px #13252a;
}
#p{
	width: 0%;
	height: 100%;
	background-color: #e96151;
	-webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
#p.pFull{
	height: 100%;
	background-color: #e96151;
	-webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
#progNum{
	clear: both;
	text-align: center;
	font-family: "Helvetica Neue";
	color: #e96151;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 10px;
}
#cardT{
	width: 450px;
	height: 55px;
	margin: 0 auto;
	position: relative;
}
#cardTools{
	width: 210px;
	height: 50px;
	background-color: #0f3d48;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 2px 0px #6b8e98;
    box-shadow:  0px 1px 2px 0px #6b8e98;
    border-top: solid 1px #13252a;
    font-family: "Helvetica Neue";
	color: #ecece7;
	font-size: .8em;
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
	position: relative;
}
#toolButtons{
	width: 200px;
	height: 100%;
	margin: 0 auto;
	padding-top: 8px;
}
#leftArrow{
	width: 32px;
	height: 32px;
	background-image: url("../imgs/icon-left.png");
	margin-right: 3px;
	position: absolute;
}
#toolButtons button{
	float: left;
	margin-left: 40px;
	width: 120px;
	height: 30px;
	padding: 0px;
}
#rightArrow{
	width: 32px;
	height: 32px;
	background-image: url("../imgs/icon-right.png");
	position: absolute;
	left: 172px;
}
#randomize{
	float: left;
	margin-top: 16px;
	margin-left: 40px;
}
#cardTools label{
	float: left;
	margin-top: 15px;
}
#editButton{
	padding: 5px;
	margin-top: 10px;
	margin-right: 5px;
	float: left;
}
#deleteButton{
	padding: 5px;
	margin-top: 10px;
	float: left;
}
#randomButton{
	padding: 5px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
.aCard textarea{
	width: 300px;
	height: 120px;
	font-family: "Helvetica Neue";
	font-size: 1.1em;
	color: #366774;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    -webkit-box-shadow: inset 0px 1px 2px 0px #707070;
    box-shadow: inset 0px 1px 2px 0px #707070;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-right: 10px;
    margin-top: 70px;
    margin-left: 70px;
    resize: none;
}
.answer{
	display: none;
}
#voting{
	width: 134px;
	height: 75px;
	float: right;
}
#aPlus{
	width: 67px;
	height: 60px;
	background-image: url("../imgs/icon-a.png");
	float: left;
	margin-top: 10px;
}
#aMinus{
	width: 67px;
	height: 60px;
	background-image: url("../imgs/icon-a.png");
	float: right;
	margin-top: 10px;
}
#aMinus:hover, #aPlus:hover{
	background-image: url("../imgs/icon-a-hover.png");
	cursor: pointer;
}
#aPlus h1, #aMinus h1{
	color: #e96151;
	font-weight: bold;
	font-size: 1.5em;
	margin-left: 18px;
	margin-top: 15px;
}
#voting .selectedGrade{
	background-image: url("../imgs/icon-a-active.png");
}
#voting .selectedGrade h1{
	color: #ecece7;
}
.cardedit{
	width: 90%;
	height: 30px;
	margin-left: 20px;
	margin-top: 110px;
	text-align: center;
	font-family: "Helvetica Neue";
	color: #366774;
	font-size: 1.5em;
}
.editHint{
	text-align: center;
	font-family: "Helvetica Neue";
	color: #366774;
	font-size: .8em;
	margin-top: 5px;
}
#createDeckButton, #addCard, #addFriendButton{
	width: 180px;
	height: 40px;
	float: right;
	color: #ecece7;
	background: #ffb4a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb4a4 0%, #e96151 44%, #e96151 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb4a4), color-stop(44%,#e96151), color-stop(100%,#e96151)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb4a4', endColorstr='#e96151',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow:  0px 1px 2px 0px #13252a;
    box-shadow:  0px 1px 2px 0px #13252a;
    border-top: solid 1px #f5bab3;
    font-size: 1.2em;
    border-left: solid 1px #ed7f72;
    border-right: solid 1px #ed7f72;
    cursor:pointer;
    margin-top: 15px;
    line-height: 40px;
    text-align: center;
}
#createDeckButton:hover, #addCard:hover, #addFriendButton:hover{
	background: #ffc9bc; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc9bc 0%, #e87669 45%, #e87669 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc9bc), color-stop(45%,#e87669), color-stop(100%,#e87669)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc9bc', endColorstr='#e87669',GradientType=0 ); /* IE6-9 */
}
#deckTags li{
	margin-top: 20px;
	float: left;
}
#yourTags li{
	color: #ecece7;
	display: inline;
	font-family: "Helvetica Neue";
	padding: 5px;
	padding-left: 10px;
	padding-right: 5px;
	background: #ffb4a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb4a4 0%, #e96151 44%, #e96151 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb4a4), color-stop(44%,#e96151), color-stop(100%,#e96151)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb4a4', endColorstr='#e96151',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 2px 0px #13252a;
    box-shadow:  0px 1px 2px 0px #13252a;
    border-top: solid 1px #f5bab3;
    float: left;
    margin: 2px;
    font-size: .8em;
    border-left: solid 1px #ed7f72;
    border-right: solid 1px #ed7f72;
    cursor:pointer;	
}
.error{
	text-align: center;
	color: #e96151;
	font-size: .8em;
	font-family: "Helvetica Neue";
	position: absolute;
	width: 190px;
	top: 55px;
	left: 55px;
}
.regError{
	text-align: center;
	color: #e96151;
	font-size: .8em;
	font-family: "Helvetica Neue";
	position: absolute;
	width: 300px;
	top: 55px;	
	left: 310px;
}
.deckDelete{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 120px;
	left: 5px;
	background-image: url("../imgs/icon-deck-del.png");
}
.deckDelete:hover{
	background-image: url("../imgs/icon-deck-del-hover.png");
}
.or{
	text-align: center;
	font-family: "Helvetica Neue";
	font-size: .8em;
	font-weight: bold;
	color: #366774;
}
label.filebutton, .sub {
    overflow:hidden;
   	color: #ecece7;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: #ffb4a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb4a4 0%, #e96151 44%, #e96151 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb4a4), color-stop(44%,#e96151), color-stop(100%,#e96151)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb4a4', endColorstr='#e96151',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow:  0px 1px 2px 0px #13252a;
    box-shadow:  0px 1px 2px 0px #13252a;
    border-top: solid 1px #f5bab3;
    font-size: .9em;
    border-left: solid 1px #ed7f72;
    border-right: solid 1px #ed7f72;
    cursor:pointer;
    float: left;
    margin-top: 15px;

}
label.filebutton:hover{
	background: #ffc9bc; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc9bc 0%, #e87669 45%, #e87669 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc9bc), color-stop(45%,#e87669), color-stop(100%,#e87669)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc9bc', endColorstr='#e87669',GradientType=0 ); /* IE6-9 */

}
#uploadSubmit{
	float: left;
	overflow:hidden;
   	color: #ecece7;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: #ffb4a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb4a4 0%, #e96151 44%, #e96151 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb4a4), color-stop(44%,#e96151), color-stop(100%,#e96151)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb4a4 0%,#e96151 44%,#e96151 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb4a4', endColorstr='#e96151',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow:  0px 1px 2px 0px #13252a;
    box-shadow:  0px 1px 2px 0px #13252a;
    border-top: solid 1px #f5bab3;
    font-size: .9em;
    border-left: solid 1px #ed7f72;
    border-right: solid 1px #ed7f72;
    cursor:pointer;
    float: left;
}
#uploadSubmit:hover{
	background: #ffc9bc; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc9bc 0%, #e87669 45%, #e87669 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc9bc), color-stop(45%,#e87669), color-stop(100%,#e87669)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc9bc 0%,#e87669 45%,#e87669 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc9bc', endColorstr='#e87669',GradientType=0 ); /* IE6-9 */
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}
.sub{
	left: 280px;
	top: 233px;
}

#searchResults{
	background-color: #9bb8c0;
	width: 285px;
	position: absolute;
	z-index: 20;
	left: 375px;
	top: 50px;
    border-top: solid 1px #617378;
    border-left: solid 1px #88a1a8;
    border-right: solid 1px #88a1a8;
    -webkit-box-shadow:  0px 3px 6px 0px #000;
    box-shadow:  0px 3px 6px 0px #000;
}
.result{
	border-top: solid 1px #f4f5f3;
	border-bottom: solid 1px #617378;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #366774;
	text-indent: 10px;
}
.result:hover{
	background-color: #ecece7;
}
#topWelcome img{
	margin-top: 10px;
	margin-left: 15px;
	border: solid 4px #112226; 
	-webkit-box-shadow:  0px 0px 0px 1px #366774;
    box-shadow:  0px 0px 0px 1px #366774;
    float: left;
}
#topWelcome form{
	width: 150px;
	height: 100%;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

#btf{
	border-top: solid 5px #1e3941;
	height: 230px;
	width: 100%;
	overflow: hidden;
	background-color: #2d2d2d;
	-webkit-box-shadow: inset 0px 2px 2px 0px #13242a;
    box-shadow: inset 0px 2px 2px 0px #13242a;
}
.arts{
	width:230px;
	height: 200px;
	float: left;
	margin-top: 20px;
	margin-right: 6px;
}
#btf img{
	margin-left: 5px;
	-webkit-box-shadow:  0px 0px 5px 0px #000;
    box-shadow:  0px 0px 5px 0px #000;
}
#btf p{
	color: #ecece7;
	padding-left: 5px;
	padding-right: 5px;
	font-size: .8em;
}
#btf h1{
	color: #e96151;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 5px;
}
.dontdoit{
	margin-right: 0;
}


footer{
	float: left;
	border-top: solid 1px #252525;
	background-color: #1a1a1a;
	height: 50px;
	width: 100%;
	-webkit-box-shadow: inset 0px 2px 2px 0px #000000;
    box-shadow: inset 0px 2px 2px 0px #000000;
}

footer p{
	color: #ecece7;
	text-align: center;
	font-size: .7em;
	margin-top: 20px;
}
#cardTools.aboutTools{
	margin-top: -40px;
}



